### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
.idea

### Mac OS ###
.DS_Store

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Build
/dist/
/coverage/
/.nyc_output/
src/date-picker.css

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# report files
bundle-analysis.html

# NPM
NPM.md
.npmrc

# Yalc
.yalc/
yalc.lock

# Publish
publish.sh

# Storybook
storybook-static/
src/storybook.css

# Tailwind prefix script (not that OK but did the trick)
add-tailwind-prefix.ts
