//registry.npmjs.org/:_authToken=${NPM_TOKEN}
registry=https://registry.npmjs.org/
always-auth=true

# pnpm specific settings
strict-peer-dependencies=false
auto-install-peers=true
resolution-mode=highest
strict-peer-dependencies=false
public-hoist-pattern[]=@storybook/*
