@import url('common/colors.css');
@import url('common/spacing.css');
@import url('common/miscellaneous.css');
@import url('common/typography.css');

/* base as a monochrome theme */
.DateTimeSwitcherButton {
  /* Colors basic definition for each mode */
  --border-bottom-color-light: var(--neutral-100);
  --border-bottom-color-dark: var(--neutral-700);
  --selected-bg-color-light: var(--neutral-100);
  --selected-bg-color-dark: hsl(from var(--neutral-800) h s l / 0.5);
  --selected-text-color-light: var(--neutral-700);
  --selected-text-color-dark: var(--neutral-500);
  --unselected-bg-color-light: var(--white);
  --unselected-bg-color-dark: var(--neutral-800);
  --unselected-text-color-light: var(--neutral-500);
  --unselected-text-color-dark: var(--neutral-500);
  --unselected-hover-bg-color-light: var(--neutral-100);
  --unselected-hover-bg-color-dark: var(--neutral-800);
  --border-color-light: var(--neutral-100);
  --border-color-dark: var(--neutral-700);

  /* Default values (light mode) */
  --border-bottom-color: var(--border-bottom-color-light);
  --selected-bg-color: var(--selected-bg-color-light);
  --selected-text-color: var(--selected-text-color-light);
  --unselected-bg-color: var(--unselected-bg-color-light);
  --unselected-text-color: var(--unselected-text-color-light);
  --unselected-hover-bg-color: var(--unselected-hover-bg-color-light);
  --border-color: var(--border-color-light);

  /* Basic styles */
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
  background: var(--unselected-bg-color);
  color: var(--unselected-text-color);
  border-bottom: 1px solid var(--border-bottom-color);
}

/* Dark mode from system */
@media (prefers-color-scheme: dark) {
  .DateTimeSwitcherButton:not(.light *) {
    --unselected-bg-color: var(--text-dark);
    --unselected-text-color: var(--unselected-text-color-dark);
    --border-color: var(--border-color-dark);
    background: var(--unselected-bg-color);
    color: var(--unselected-text-color);
    border-bottom-color: var(--border-color);
  }

  .DateTimeSwitcherButton:not(.light *):hover {
    --unselected-hover-bg-color: var(--gray-700);
    background: var(--unselected-hover-bg-color);
  }

  .DateTimeSwitcherButton.selected:not(.light *) {
    --selected-bg-color-dark: var(--neutral-800);
    --selected-bg-color: hsl(from var(--selected-bg-color-dark) h s l / 0.5);
    background: var(--selected-bg-color);
    color: var(--selected-text-color);
  }

  .DateTimeSwitcherButton.selected:not(.light *):hover {
    --unselected-bg-color: hsl(from var(--selected-bg-color-dark) h s l / 0.5);
    --unselected-text-color: var(--selected-text-color-dark);
  }

  .DateTimeSwitcherButton.selected.red {
    --selected-bg-color-dark: hsl(from var(--red-800) h s l / 0.5);
    --selected-bg-color: var(--selected-bg-color-dark);
    --selected-text-color: var(--red-500);
  }

  .DateTimeSwitcherButton.selected.red:hover {
    --unselected-hover-bg-color: var(--selected-bg-color-dark);
    --unselected-hover-text-color: var(--selected-text-color-dark);
  }

  .DateTimeSwitcherButton.selected.orange {
    --selected-bg-color-dark: hsl(from var(--orange-800) h s l / 0.5);
    --selected-bg-color: var(--selected-bg-color-dark);
    --selected-text-color: var(--orange-500);
  }

  .DateTimeSwitcherButton.selected.orange:hover {
    --unselected-hover-bg-color: var(--selected-bg-color-dark);
    --unselected-hover-text-color: var(--selected-text-color-dark);
  }

  .DateTimeSwitcherButton.selected.amber {
    --selected-bg-color-dark: hsl(from var(--amber-800) h s l / 0.5);
    --selected-bg-color: var(--selected-bg-color-dark);
    --selected-text-color: var(--amber-500);
  }

  .DateTimeSwitcherButton.selected.amber:hover {
    --unselected-hover-bg-color: var(--selected-bg-color-dark);
    --unselected-hover-text-color: var(--selected-text-color-dark);
  }

  .DateTimeSwitcherButton.selected.yellow {
    --selected-bg-color-dark: hsl(from var(--yellow-800) h s l / 0.5);
    --selected-bg-color: var(--selected-bg-color-dark);
    --selected-text-color: var(--yellow-500);
  }

  .DateTimeSwitcherButton.selected.yellow:hover {
    --unselected-hover-bg-color: var(--selected-bg-color-dark);
    --unselected-hover-text-color: var(--selected-text-color-dark);
  }

  .DateTimeSwitcherButton.selected.lime {
    --selected-bg-color-dark: hsl(from var(--lime-800) h s l / 0.5);
    --selected-bg-color: var(--selected-bg-color-dark);
    --selected-text-color: var(--lime-500);
  }

  .DateTimeSwitcherButton.selected.lime:hover {
    --unselected-hover-bg-color: var(--selected-bg-color-dark);
    --unselected-hover-text-color: var(--selected-text-color-dark);
  }

  .DateTimeSwitcherButton.selected.green {
    --selected-bg-color-dark: hsl(from var(--green-800) h s l / 0.5);
    --selected-bg-color: var(--selected-bg-color-dark);
    --selected-text-color: var(--green-500);
  }

  .DateTimeSwitcherButton.selected.green:hover {
    --unselected-hover-bg-color: var(--selected-bg-color-dark);
    --unselected-hover-text-color: var(--selected-text-color-dark);
  }

  .DateTimeSwitcherButton.selected.emerald {
    --selected-bg-color-dark: hsl(from var(--emerald-800) h s l / 0.5);
    --selected-bg-color: var(--selected-bg-color-dark);
    --selected-text-color: var(--emerald-500);
  }

  .DateTimeSwitcherButton.selected.emerald:hover {
    --unselected-hover-bg-color: var(--selected-bg-color-dark);
    --unselected-hover-text-color: var(--selected-text-color-dark);
  }

  .DateTimeSwitcherButton.selected.teal {
    --selected-bg-color-dark: hsl(from var(--teal-800) h s l / 0.5);
    --selected-bg-color: var(--selected-bg-color-dark);
    --selected-text-color: var(--teal-500);
  }

  .DateTimeSwitcherButton.selected.teal:hover {
    --unselected-hover-bg-color: var(--selected-bg-color-dark);
    --unselected-hover-text-color: var(--selected-text-color-dark);
  }

  .DateTimeSwitcherButton.selected.cyan {
    --selected-bg-color-dark: hsl(from var(--cyan-800) h s l / 0.5);
    --selected-bg-color: var(--selected-bg-color-dark);
    --selected-text-color: var(--cyan-500);
  }

  .DateTimeSwitcherButton.selected.cyan:hover {
    --unselected-hover-bg-color: var(--selected-bg-color-dark);
    --unselected-hover-text-color: var(--selected-text-color-dark);
  }

  .DateTimeSwitcherButton.selected.sky {
    --selected-bg-color-dark: hsl(from var(--sky-800) h s l / 0.5);
    --selected-bg-color: var(--selected-bg-color-dark);
    --selected-text-color: var(--sky-500);
  }

  .DateTimeSwitcherButton.selected.sky:hover {
    --unselected-hover-bg-color: var(--selected-bg-color-dark);
    --unselected-hover-text-color: var(--selected-text-color-dark);
  }

  .DateTimeSwitcherButton.selected.blue {
    --selected-bg-color-dark: hsl(from var(--blue-800) h s l / 0.5);
    --selected-bg-color: var(--selected-bg-color-dark);
    --selected-text-color: var(--blue-500);
  }

  .DateTimeSwitcherButton.selected.blue:hover {
    --unselected-hover-bg-color: var(--selected-bg-color-dark);
    --unselected-hover-text-color: var(--selected-text-color-dark);
  }

  .DateTimeSwitcherButton.selected.indigo {
    --selected-bg-color-dark: hsl(from var(--indigo-800) h s l / 0.5);
    --selected-bg-color: var(--selected-bg-color-dark);
    --selected-text-color: var(--indigo-500);
  }

  .DateTimeSwitcherButton.selected.indigo:hover {
    --unselected-hover-bg-color: var(--selected-bg-color-dark);
    --unselected-hover-text-color: var(--selected-text-color-dark);
  }

  .DateTimeSwitcherButton.selected.violet {
    --selected-bg-color-dark: hsl(from var(--violet-800) h s l / 0.5);
    --selected-bg-color: var(--selected-bg-color-dark);
    --selected-text-color: var(--violet-500);
  }

  .DateTimeSwitcherButton.selected.violet:hover {
    --unselected-hover-bg-color: var(--selected-bg-color-dark);
    --unselected-hover-text-color: var(--selected-text-color-dark);
  }

  .DateTimeSwitcherButton.selected.purple {
    --selected-bg-color-dark: hsl(from var(--purple-800) h s l / 0.5);
    --selected-bg-color: var(--selected-bg-color-dark);
    --selected-text-color: var(--purple-500);
  }

  .DateTimeSwitcherButton.selected.purple:hover {
    --unselected-hover-bg-color: var(--selected-bg-color-dark);
    --unselected-hover-text-color: var(--selected-text-color-dark);
  }

  .DateTimeSwitcherButton.selected.fuchsia {
    --selected-bg-color-dark: hsl(from var(--fuchsia-800) h s l / 0.5);
    --selected-bg-color: var(--selected-bg-color-dark);
    --selected-text-color: var(--fuchsia-500);
  }

  .DateTimeSwitcherButton.selected.fuchsia:hover {
    --unselected-hover-bg-color: var(--selected-bg-color-dark);
    --unselected-hover-text-color: var(--selected-text-color-dark);
  }

  .DateTimeSwitcherButton.selected.pink {
    --selected-bg-color-dark: hsl(from var(--pink-800) h s l / 0.5);
    --selected-bg-color: var(--selected-bg-color-dark);
    --selected-text-color: var(--pink-500);
  }

  .DateTimeSwitcherButton.selected.pink:hover {
    --unselected-hover-bg-color: var(--selected-bg-color-dark);
    --unselected-hover-text-color: var(--selected-text-color-dark);
  }

  .DateTimeSwitcherButton.selected.rose {
    --selected-bg-color-dark: hsl(from var(--rose-800) h s l / 0.5);
    --selected-bg-color: var(--selected-bg-color-dark);
    --selected-text-color: var(--rose-500);
  }

  .DateTimeSwitcherButton.selected.rose:hover {
    --unselected-hover-bg-color: var(--selected-bg-color-dark);
    --unselected-hover-text-color: var(--selected-text-color-dark);
  }

  .DateTimeSwitcherButton.selected.slate {
    --selected-bg-color-dark: hsl(from var(--slate-800) h s l / 0.5);
    --selected-bg-color: var(--selected-bg-color-dark);
    --selected-text-color: var(--slate-500);
  }

  .DateTimeSwitcherButton.selected.slate:hover {
    --unselected-hover-bg-color: var(--selected-bg-color-dark);
    --unselected-hover-text-color: var(--selected-text-color-dark);
  }

  .DateTimeSwitcherButton.selected.gray {
    --selected-bg-color-dark: hsl(from var(--gray-800) h s l / 0.5);
    --selected-bg-color: var(--selected-bg-color-dark);
    --selected-text-color: var(--gray-500);
  }

  .DateTimeSwitcherButton.selected.gray:hover {
    --unselected-hover-bg-color: var(--selected-bg-color-dark);
    --unselected-hover-text-color: var(--selected-text-color-dark);
  }

  .DateTimeSwitcherButton.selected.zinc {
    --selected-bg-color-dark: hsl(from var(--zinc-800) h s l / 0.5);
    --selected-bg-color: var(--selected-bg-color-dark);
    --selected-text-color: var(--zinc-500);
  }

  .DateTimeSwitcherButton.selected.zinc:hover {
    --unselected-hover-bg-color: var(--selected-bg-color-dark);
    --unselected-hover-text-color: var(--selected-text-color-dark);
  }

  .DateTimeSwitcherButton.selected.neutral {
    --selected-bg-color-dark: hsl(from var(--neutral-800) h s l / 0.5);
    --selected-bg-color: var(--selected-bg-color-dark);
    --selected-text-color: var(--neutral-500);
  }

  .DateTimeSwitcherButton.selected.neutral:hover {
    --unselected-hover-bg-color: var(--selected-bg-color-dark);
    --unselected-hover-text-color: var(--selected-text-color-dark);
  }

  .DateTimeSwitcherButton.selected.stone {
    --selected-bg-color-dark: hsl(from var(--stone-800) h s l / 0.5);
    --selected-bg-color: var(--selected-bg-color-dark);
    --selected-text-color: var(--stone-500);
  }

  .DateTimeSwitcherButton.selected.stone:hover {
    --unselected-hover-bg-color: var(--selected-bg-color-dark);
    --unselected-hover-text-color: var(--selected-text-color-dark);
  }
}

/* Forced dark mode */
.dark * .DateTimeSwitcherButton {
  --unselected-bg-color: var(--gray-800);
  --unselected-text-color: var(--selected-text-color-dark);
  --border-color: var(--border-color-dark);
  background: var(--unselected-bg-color);
  color: var(--unselected-text-color);
  border-bottom-color: var(--border-color);
}

.dark * .DateTimeSwitcherButton:hover {
  --unselected-hover-bg-color: var(--gray-700);
  background: var(--unselected-hover-bg-color);
}

.dark * .DateTimeSwitcherButton.selected {
  --selected-bg-color: var(--selected-bg-color-dark);
  --selected-text-color: var(--selected-text-color-dark);
  background: var(--selected-bg-color);
  color: var(--selected-text-color);
}

.dark * .DateTimeSwitcherButton.selected:hover {
  --unselected-bg-color: var(--selected-bg-color-dark);
  --unselected-text-color: var(--selected-text-color-dark);
}

/* Forced light mode */
.light * .DateTimeSwitcherButton {
  --unselected-bg-color: var(--unselected-bg-color-light);
  --unselected-text-color: var(--unselected-text-color-light);
  --border-color: var(--border-color-light);
}

.light * .DateTimeSwitcherButton:hover {
  --unselected-hover-bg-color: var(--unselected-hover-bg-color-light);
  background: var(--unselected-hover-bg-color);
}

.light * .DateTimeSwitcherButton.selected {
  --selected-bg-color: var(--selected-bg-color-light);
  --selected-text-color: var(--selected-text-color-light);
  background: var(--selected-bg-color);
  color: var(--selected-text-color);
}

.light * .DateTimeSwitcherButton.selected:hover {
  --unselected-bg-color: var(--selected-bg-color-light);
  --unselected-text-color: var(--selected-text-color-light);
}

/*.Sizes */
.DateTimeSwitcherButton.sm {
  height: var(--date-time-browser-height-md);
}

.DateTimeSwitcherButton.md,
.DateTimeSwitcherButton.lg {
  height: var(--date-time-browser-height-lg);
}

.DateTimeSwitcherButton.sm svg {
  width: var(--svg-sm);
  height: var(--svg-sm);
}

.DateTimeSwitcherButton.md svg,
.DateTimeSwitcherButton.lg svg {
  width: var(--svg-md);
  height: var(--svg-md);
}

/*.Colors theme */
.dark .DateTimeSwitcherButton.selected.red {
  --selected-bg-color-dark: hsl(from var(--red-800) h s l / 0.5);
  --selected-bg-color: var(--selected-bg-color-dark);
  --selected-text-color: var(--red-500);
}

.dark .DateTimeSwitcherButton.selected.red:hover {
  --unselected-hover-bg-color: var(--selected-bg-color-dark);
  --unselected-hover-text-color: var(--selected-text-color-dark);
}

.light .DateTimeSwitcherButton.selected.red {
  --selected-bg-color: var(--red-100);
  --selected-text-color: var(--red-700);
}

.light .DateTimeSwitcherButton.selected.red:hover {
  --unselected-bg-color: var(--red-100);
  --unselected-text-color: var(--red-700)
}

.dark .DateTimeSwitcherButton.selected.orange {
  --selected-bg-color-dark: hsl(from var(--orange-800) h s l / 0.5);
  --selected-bg-color: var(--selected-bg-color-dark);
  --selected-text-color: var(--orange-500);
}

.dark .DateTimeSwitcherButton.selected.orange:hover {
  --unselected-hover-bg-color: var(--selected-bg-color-dark);
  --unselected-hover-text-color: var(--selected-text-color-dark);
}

.light .DateTimeSwitcherButton.selected.orange {
  --selected-bg-color: var(--orange-100);
  --selected-text-color: var(--orange-700);
}

.light .DateTimeSwitcherButton.selected.orange:hover {
  --unselected-bg-color: var(--orange-100);
  --unselected-text-color: var(--orange-700)
}

.dark .DateTimeSwitcherButton.selected.amber {
  --selected-bg-color-dark: hsl(from var(--amber-800) h s l / 0.5);
  --selected-bg-color: var(--selected-bg-color-dark);
  --selected-text-color: var(--amber-500);
}

.dark .DateTimeSwitcherButton.selected.amber:hover {
  --unselected-hover-bg-color: var(--selected-bg-color-dark);
  --unselected-hover-text-color: var(--selected-text-color-dark);
}

.light .DateTimeSwitcherButton.selected.amber {
  --selected-bg-color: var(--amber-100);
  --selected-text-color: var(--amber-700);
}

.light .DateTimeSwitcherButton.selected.amber:hover {
  --unselected-bg-color: var(--amber-100);
  --unselected-text-color: var(--amber-700)
}

.dark .DateTimeSwitcherButton.selected.yellow {
  --selected-bg-color-dark: hsl(from var(--yellow-800) h s l / 0.5);
  --selected-bg-color: var(--selected-bg-color-dark);
  --selected-text-color: var(--yellow-500);
}

.dark .DateTimeSwitcherButton.selected.yellow:hover {
  --unselected-hover-bg-color: var(--selected-bg-color-dark);
  --unselected-hover-text-color: var(--selected-text-color-dark);
}

.light .DateTimeSwitcherButton.selected.yellow {
  --selected-bg-color: var(--yellow-100);
  --selected-text-color: var(--yellow-700);
}

.light .DateTimeSwitcherButton.selected.yellow:hover {
  --unselected-bg-color: var(--yellow-100);
  --unselected-text-color: var(--yellow-700)
}

.dark .DateTimeSwitcherButton.selected.lime {
  --selected-bg-color-dark: hsl(from var(--lime-800) h s l / 0.5);
  --selected-bg-color: var(--selected-bg-color-dark);
  --selected-text-color: var(--lime-500);
}

.dark .DateTimeSwitcherButton.selected.lime:hover {
  --unselected-hover-bg-color: var(--selected-bg-color-dark);
  --unselected-hover-text-color: var(--selected-text-color-dark);
}

.light .DateTimeSwitcherButton.selected.lime {
  --selected-bg-color: var(--lime-100);
  --selected-text-color: var(--lime-700);
}

.light .DateTimeSwitcherButton.selected.lime:hover {
  --unselected-bg-color: var(--lime-100);
  --unselected-text-color: var(--lime-700)
}

.dark .DateTimeSwitcherButton.selected.green {
  --selected-bg-color-dark: hsl(from var(--green-800) h s l / 0.5);
  --selected-bg-color: var(--selected-bg-color-dark);
  --selected-text-color: var(--green-500);
}

.dark .DateTimeSwitcherButton.selected.green:hover {
  --unselected-hover-bg-color: var(--selected-bg-color-dark);
  --unselected-hover-text-color: var(--selected-text-color-dark);
}

.light .DateTimeSwitcherButton.selected.green {
  --selected-bg-color: var(--green-100);
  --selected-text-color: var(--green-700);
}

.light .DateTimeSwitcherButton.selected.green:hover {
  --unselected-bg-color: var(--green-100);
  --unselected-text-color: var(--green-700)
}

.dark .DateTimeSwitcherButton.selected.emerald {
  --selected-bg-color-dark: hsl(from var(--emerald-800) h s l / 0.5);
  --selected-bg-color: var(--selected-bg-color-dark);
  --selected-text-color: var(--emerald-500);
}

.dark .DateTimeSwitcherButton.selected.emerald:hover {
  --unselected-hover-bg-color: var(--selected-bg-color-dark);
  --unselected-hover-text-color: var(--selected-text-color-dark);
}

.light .DateTimeSwitcherButton.selected.emerald {
  --selected-bg-color: var(--emerald-100);
  --selected-text-color: var(--emerald-700);
}

.light .DateTimeSwitcherButton.selected.emerald:hover {
  --unselected-bg-color: var(--emerald-100);
  --unselected-text-color: var(--emerald-700)
}

.dark .DateTimeSwitcherButton.selected.teal {
  --selected-bg-color-dark: hsl(from var(--teal-800) h s l / 0.5);
  --selected-bg-color: var(--selected-bg-color-dark);
  --selected-text-color: var(--teal-500);
}

.dark .DateTimeSwitcherButton.selected.teal:hover {
  --unselected-hover-bg-color: var(--selected-bg-color-dark);
  --unselected-hover-text-color: var(--selected-text-color-dark);
}

.light .DateTimeSwitcherButton.selected.teal {
  --selected-bg-color: var(--teal-100);
  --selected-text-color: var(--teal-700);
}

.light .DateTimeSwitcherButton.selected.teal:hover {
  --unselected-bg-color: var(--teal-100);
  --unselected-text-color: var(--teal-700)
}

.dark .DateTimeSwitcherButton.selected.cyan {
  --selected-bg-color-dark: hsl(from var(--cyan-800) h s l / 0.5);
  --selected-bg-color: var(--selected-bg-color-dark);
  --selected-text-color: var(--cyan-500);
}

.dark .DateTimeSwitcherButton.selected.cyan:hover {
  --unselected-hover-bg-color: var(--selected-bg-color-dark);
  --unselected-hover-text-color: var(--selected-text-color-dark);
}

.light .DateTimeSwitcherButton.selected.cyan {
  --selected-bg-color: var(--cyan-100);
  --selected-text-color: var(--cyan-700);
}

.light .DateTimeSwitcherButton.selected.cyan:hover {
  --unselected-bg-color: var(--cyan-100);
  --unselected-text-color: var(--cyan-700)
}

.dark .DateTimeSwitcherButton.selected.sky {
  --selected-bg-color-dark: hsl(from var(--sky-800) h s l / 0.5);
  --selected-bg-color: var(--selected-bg-color-dark);
  --selected-text-color: var(--sky-500);
}

.dark .DateTimeSwitcherButton.selected.sky:hover {
  --unselected-hover-bg-color: var(--selected-bg-color-dark);
  --unselected-hover-text-color: var(--selected-text-color-dark);
}

.light .DateTimeSwitcherButton.selected.sky {
  --selected-bg-color: var(--sky-100);
  --selected-text-color: var(--sky-700);
}

.light .DateTimeSwitcherButton.selected.sky:hover {
  --unselected-bg-color: var(--sky-100);
  --unselected-text-color: var(--sky-700)
}

.dark .DateTimeSwitcherButton.selected.blue {
  --selected-bg-color-dark: hsl(from var(--blue-800) h s l / 0.5);
  --selected-bg-color: var(--selected-bg-color-dark);
  --selected-text-color: var(--blue-500);
}

.dark .DateTimeSwitcherButton.selected.blue:hover {
  --unselected-hover-bg-color: var(--selected-bg-color-dark);
  --unselected-hover-text-color: var(--selected-text-color-dark);
}

.light .DateTimeSwitcherButton.selected.blue {
  --selected-bg-color: var(--blue-100);
  --selected-text-color: var(--blue-700);
}

.light .DateTimeSwitcherButton.selected.blue:hover {
  --unselected-bg-color: var(--blue-100);
  --unselected-text-color: var(--blue-700)
}

.dark .DateTimeSwitcherButton.selected.indigo {
  --selected-bg-color-dark: hsl(from var(--indigo-800) h s l / 0.5);
  --selected-bg-color: var(--selected-bg-color-dark);
  --selected-text-color: var(--indigo-500);
}

.dark .DateTimeSwitcherButton.selected.indigo:hover {
  --unselected-hover-bg-color: var(--selected-bg-color-dark);
  --unselected-hover-text-color: var(--selected-text-color-dark);
}

.light .DateTimeSwitcherButton.selected.indigo {
  --selected-bg-color: var(--indigo-100);
  --selected-text-color: var(--indigo-700);
}

.light .DateTimeSwitcherButton.selected.indigo:hover {
  --unselected-bg-color: var(--indigo-100);
  --unselected-text-color: var(--indigo-700)
}

.dark .DateTimeSwitcherButton.selected.violet {
  --selected-bg-color-dark: hsl(from var(--violet-800) h s l / 0.5);
  --selected-bg-color: var(--selected-bg-color-dark);
  --selected-text-color: var(--violet-500);
}

.dark .DateTimeSwitcherButton.selected.violet:hover {
  --unselected-hover-bg-color: var(--selected-bg-color-dark);
  --unselected-hover-text-color: var(--selected-text-color-dark);
}

.light .DateTimeSwitcherButton.selected.violet {
  --selected-bg-color: var(--violet-100);
  --selected-text-color: var(--violet-700);
}

.light .DateTimeSwitcherButton.selected.violet:hover {
  --unselected-bg-color: var(--violet-100);
  --unselected-text-color: var(--violet-700)
}

.dark .DateTimeSwitcherButton.selected.purple {
  --selected-bg-color-dark: hsl(from var(--purple-800) h s l / 0.5);
  --selected-bg-color: var(--selected-bg-color-dark);
  --selected-text-color: var(--purple-500);
}

.dark .DateTimeSwitcherButton.selected.purple:hover {
  --unselected-hover-bg-color: var(--selected-bg-color-dark);
  --unselected-hover-text-color: var(--selected-text-color-dark);
}

.light .DateTimeSwitcherButton.selected.purple {
  --selected-bg-color: var(--purple-100);
  --selected-text-color: var(--purple-700);
}

.light .DateTimeSwitcherButton.selected.purple:hover {
  --unselected-bg-color: var(--purple-100);
  --unselected-text-color: var(--purple-700)
}

.dark .DateTimeSwitcherButton.selected.fuchsia {
  --selected-bg-color-dark: hsl(from var(--fuchsia-800) h s l / 0.5);
  --selected-bg-color: var(--selected-bg-color-dark);
  --selected-text-color: var(--fuchsia-500);
}

.dark .DateTimeSwitcherButton.selected.fuchsia:hover {
  --unselected-hover-bg-color: var(--selected-bg-color-dark);
  --unselected-hover-text-color: var(--selected-text-color-dark);
}

.light .DateTimeSwitcherButton.selected.fuchsia {
  --selected-bg-color: var(--fuchsia-100);
  --selected-text-color: var(--fuchsia-700);
}

.light .DateTimeSwitcherButton.selected.fuchsia:hover {
  --unselected-bg-color: var(--fuchsia-100);
  --unselected-text-color: var(--fuchsia-700)
}

.dark .DateTimeSwitcherButton.selected.pink {
  --selected-bg-color-dark: hsl(from var(--pink-800) h s l / 0.5);
  --selected-bg-color: var(--selected-bg-color-dark);
  --selected-text-color: var(--pink-500);
}

.dark .DateTimeSwitcherButton.selected.pink:hover {
  --unselected-hover-bg-color: var(--selected-bg-color-dark);
  --unselected-hover-text-color: var(--selected-text-color-dark);
}

.light .DateTimeSwitcherButton.selected.pink {
  --selected-bg-color: var(--pink-100);
  --selected-text-color: var(--pink-700);
}

.light .DateTimeSwitcherButton.selected.pink:hover {
  --unselected-bg-color: var(--pink-100);
  --unselected-text-color: var(--pink-700)
}

.dark .DateTimeSwitcherButton.selected.rose {
  --selected-bg-color-dark: hsl(from var(--rose-800) h s l / 0.5);
  --selected-bg-color: var(--selected-bg-color-dark);
  --selected-text-color: var(--rose-500);
}

.dark .DateTimeSwitcherButton.selected.rose:hover {
  --unselected-hover-bg-color: var(--selected-bg-color-dark);
  --unselected-hover-text-color: var(--selected-text-color-dark);
}

.light .DateTimeSwitcherButton.selected.rose {
  --selected-bg-color: var(--rose-100);
  --selected-text-color: var(--rose-700);
}

.light .DateTimeSwitcherButton.selected.rose:hover {
  --unselected-bg-color: var(--rose-100);
  --unselected-text-color: var(--rose-700)
}

.dark .DateTimeSwitcherButton.selected.slate {
  --selected-bg-color-dark: hsl(from var(--slate-800) h s l / 0.5);
  --selected-bg-color: var(--selected-bg-color-dark);
  --selected-text-color: var(--slate-500);
}

.dark .DateTimeSwitcherButton.selected.slate:hover {
  --unselected-hover-bg-color: var(--selected-bg-color-dark);
  --unselected-hover-text-color: var(--selected-text-color-dark);
}

.light .DateTimeSwitcherButton.selected.slate {
  --selected-bg-color: var(--slate-100);
  --selected-text-color: var(--slate-700);
}

.light .DateTimeSwitcherButton.selected.slate:hover {
  --unselected-bg-color: var(--slate-100);
  --unselected-text-color: var(--slate-700)
}

.dark .DateTimeSwitcherButton.selected.gray {
  --selected-bg-color-dark: hsl(from var(--gray-800) h s l / 0.5);
  --selected-bg-color: var(--selected-bg-color-dark);
  --selected-text-color: var(--gray-500);
}

.dark .DateTimeSwitcherButton.selected.gray:hover {
  --unselected-hover-bg-color: var(--selected-bg-color-dark);
  --unselected-hover-text-color: var(--selected-text-color-dark);
}

.light .DateTimeSwitcherButton.selected.gray {
  --selected-bg-color: var(--gray-100);
  --selected-text-color: var(--gray-700);
}

.light .DateTimeSwitcherButton.selected.gray:hover {
  --unselected-bg-color: var(--gray-100);
  --unselected-text-color: var(--gray-700)
}

.dark .DateTimeSwitcherButton.selected.zinc {
  --selected-bg-color-dark: hsl(from var(--zinc-800) h s l / 0.5);
  --selected-bg-color: var(--selected-bg-color-dark);
  --selected-text-color: var(--zinc-500);
}

.dark .DateTimeSwitcherButton.selected.zinc:hover {
  --unselected-hover-bg-color: var(--selected-bg-color-dark);
  --unselected-hover-text-color: var(--selected-text-color-dark);
}

.light .DateTimeSwitcherButton.selected.zinc {
  --selected-bg-color: var(--zinc-100);
  --selected-text-color: var(--zinc-700);
}

.light .DateTimeSwitcherButton.selected.zinc:hover {
  --unselected-bg-color: var(--zinc-100);
  --unselected-text-color: var(--zinc-700)
}

.dark .DateTimeSwitcherButton.selected.neutral {
  --selected-bg-color-dark: hsl(from var(--neutral-800) h s l / 0.5);
  --selected-bg-color: var(--selected-bg-color-dark);
  --selected-text-color: var(--neutral-500);
}

.dark .DateTimeSwitcherButton.selected.neutral:hover {
  --unselected-hover-bg-color: var(--selected-bg-color-dark);
  --unselected-hover-text-color: var(--selected-text-color-dark);
}

.light .DateTimeSwitcherButton.selected.neutral {
  --selected-bg-color: var(--neutral-100);
  --selected-text-color: var(--neutral-700);
}

.light .DateTimeSwitcherButton.selected.neutral:hover {
  --unselected-bg-color: var(--neutral-100);
  --unselected-text-color: var(--neutral-700)
}

.dark .DateTimeSwitcherButton.selected.stone {
  --selected-bg-color-dark: hsl(from var(--stone-800) h s l / 0.5);
  --selected-bg-color: var(--selected-bg-color-dark);
  --selected-text-color: var(--stone-500);
}

.dark .DateTimeSwitcherButton.selected.stone:hover {
  --unselected-hover-bg-color: var(--selected-bg-color-dark);
  --unselected-hover-text-color: var(--selected-text-color-dark);
}

.light .DateTimeSwitcherButton.selected.stone {
  --selected-bg-color: var(--stone-100);
  --selected-text-color: var(--stone-700);
}

.light .DateTimeSwitcherButton.selected.stone:hover {
  --unselected-bg-color: var(--stone-100);
  --unselected-text-color: var(--stone-700)
}
