@import url('colors.css');

.DateBrowserButton {
  transition: color 500ms linear;

  --button-text: var(--slate-900);
  --button-text-hover: var(--slate-700);
  --button-text-focus-visible: var(--slate-700);

  @media (prefers-color-scheme: dark) {
    html:not(.light *), body:not(.light *) {
      --button-text: var(--slate-300);
    }
  }
}


.DateBrowserButton:focus {
  outline: none;
}

.DateBrowserButton:focus-visible {
  outline: 1px solid;
}

/* Sizes */
.DateBrowserButton.sm {
  font-size: var(--text-xs);
  line-height: var(--line-height-xs);
}

.DateBrowserButton.md {
  line-height: var(--line-height-sm);
}

.DateBrowserButton.lg {
  font-size: var(--text-base);
  line-height: var(--line-height-base);
}

.DateBrowserButton.blu {

}
