@import url('common/colors.css');
@import url('common/spacing.css');
@import url('common/miscellaneous.css');
@import url('common/typography.css');

/* base as a monochrome theme */
button.DateTimeSwitcherButton {
  /* Colors basic definition for each mode */
  --border-bottom-color-light: var(--neutral-100);
  --border-bottom-color-dark: var(--neutral-700);
  --selected-bg-color-light: var(--neutral-100);
  --selected-bg-color-dark: hsl(from var(--neutral-800) h s l / 0.75);
  --selected-text-color-light: var(--neutral-700);
  --selected-text-color-dark: var(--white);
  --unselected-bg-color-light: var(--white);
  --unselected-bg-color-dark: var(--neutral-800);
  --unselected-text-color-light: var(--neutral-500);
  --unselected-text-color-dark: var(--neutral-500);
  --unselected-hover-bg-color-light: var(--neutral-100);
  --unselected-hover-bg-color-dark: var(--neutral-800);
  --border-color-light: var(--neutral-100);
  --border-color-dark: var(--neutral-700);
  --focus-outline-light: var(--neutral-700);
  --focus-outline-dark: var(--white);

  /* Default values (light mode) */
  --border-bottom-color: var(--border-bottom-color-light);
  --selected-bg-color: var(--selected-bg-color-light);
  --selected-text-color: var(--selected-text-color-light);
  --unselected-bg-color: var(--unselected-bg-color-light);
  --unselected-text-color: var(--unselected-text-color-light);
  --unselected-hover-bg-color: var(--unselected-hover-bg-color-light);
  --border-color: var(--border-color-light);
  --focus-outline: var(--focus-outline-light);

  /* Basic styles */
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  transition-property: var(--transition);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
  background: var(--unselected-bg-color);
  color: var(--unselected-text-color);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid var(--border-bottom-color) !important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  outline-offset: -2px;
  outline: 2px solid transparent;
}

button.DateTimeSwitcherButton:focus {
  outline: 2px solid transparent;
}

button.DateTimeSwitcherButton:focus-visible {
  outline: 2px solid var(--focus-outline);
}

button.DateTimeSwitcherButton:nth-child(1) {
  border-top-left-radius: var(--br-lg);
  border-top-right-radius: 0;
}

button.DateTimeSwitcherButton:nth-child(2) {
  border-top-left-radius: 0;
  border-top-right-radius: var(--br-lg);
}

button.DateTimeSwitcherButton:hover {
  outline: 0 none;
  background: var(--unselected-hover-bg-color);
}

button.DateTimeSwitcherButton.selected,
button.DateTimeSwitcherButton.selected:hover {
  background: var(--selected-bg-color);
  color: var(--selected-text-color);
}

button.DateTimeSwitcherButton.selected.red,
button.DateTimeSwitcherButton.selected.red:hover {
  --selected-bg-color: var(--red-100);
  --selected-text-color: var(--red-700)
}

button.DateTimeSwitcherButton.selected.orange,
button.DateTimeSwitcherButton.selected.orange:hover {
  --selected-bg-color: var(--orange-100);
  --selected-text-color: var(--orange-700)
}

button.DateTimeSwitcherButton.selected.amber,
button.DateTimeSwitcherButton.selected.amber:hover {
  --selected-bg-color: var(--amber-100);
  --selected-text-color: var(--amber-700)
}

button.DateTimeSwitcherButton.selected.yellow,
button.DateTimeSwitcherButton.selected.yellow:hover {
  --selected-bg-color: var(--yellow-100);
  --selected-text-color: var(--yellow-700)
}

button.DateTimeSwitcherButton.selected.lime,
button.DateTimeSwitcherButton.selected.lime:hover {
  --selected-bg-color: var(--lime-100);
  --selected-text-color: var(--lime-700)
}

button.DateTimeSwitcherButton.selected.green,
button.DateTimeSwitcherButton.selected.green:hover {
  --selected-bg-color: var(--green-100);
  --selected-text-color: var(--green-700)
}

button.DateTimeSwitcherButton.selected.emerald,
button.DateTimeSwitcherButton.selected.emerald:hover {
  --selected-bg-color: var(--emerald-100);
  --selected-text-color: var(--emerald-700)
}

button.DateTimeSwitcherButton.selected.teal,
button.DateTimeSwitcherButton.selected.teal:hover {
  --selected-bg-color: var(--teal-100);
  --selected-text-color: var(--teal-700)
}

button.DateTimeSwitcherButton.selected.cyan,
button.DateTimeSwitcherButton.selected.cyan:hover {
  --selected-bg-color: var(--cyan-100);
  --selected-text-color: var(--cyan-700)
}

button.DateTimeSwitcherButton.selected.sky,
button.DateTimeSwitcherButton.selected.sky:hover {
  --selected-bg-color: var(--sky-100);
  --selected-text-color: var(--sky-700)
}

button.DateTimeSwitcherButton.selected.blue,
button.DateTimeSwitcherButton.selected.blue:hover {
  --selected-bg-color: var(--blue-100);
  --selected-text-color: var(--blue-700)
}

button.DateTimeSwitcherButton.selected.indigo,
button.DateTimeSwitcherButton.selected.indigo:hover {
  --selected-bg-color: var(--indigo-100);
  --selected-text-color: var(--indigo-700)
}

button.DateTimeSwitcherButton.selected.violet,
button.DateTimeSwitcherButton.selected.violet:hover {
  --selected-bg-color: var(--violet-100);
  --selected-text-color: var(--violet-700)
}

button.DateTimeSwitcherButton.selected.purple,
button.DateTimeSwitcherButton.selected.purple:hover {
  --selected-bg-color: var(--purple-100);
  --selected-text-color: var(--purple-700)
}

button.DateTimeSwitcherButton.selected.fuchsia,
button.DateTimeSwitcherButton.selected.fuchsia:hover {
  --selected-bg-color: var(--fuchsia-100);
  --selected-text-color: var(--fuchsia-700)
}

button.DateTimeSwitcherButton.selected.pink,
button.DateTimeSwitcherButton.selected.pink:hover {
  --selected-bg-color: var(--pink-100);
  --selected-text-color: var(--pink-700)
}

button.DateTimeSwitcherButton.selected.rose,
button.DateTimeSwitcherButton.selected.rose:hover {
  --selected-bg-color: var(--rose-100);
  --selected-text-color: var(--rose-700)
}

button.DateTimeSwitcherButton.selected.slate,
button.DateTimeSwitcherButton.selected.slate:hover {
  --selected-bg-color: var(--slate-100);
  --selected-text-color: var(--slate-700)
}

button.DateTimeSwitcherButton.selected.gray,
button.DateTimeSwitcherButton.selected.gray:hover {
  --selected-bg-color: var(--gray-100);
  --selected-text-color: var(--gray-700)
}

button.DateTimeSwitcherButton.selected.zinc,
button.DateTimeSwitcherButton.selected.zinc:hover {
  --selected-bg-color: var(--zinc-100);
  --selected-text-color: var(--zinc-700)
}

button.DateTimeSwitcherButton.selected.neutral,
button.DateTimeSwitcherButton.selected.neutral:hover {
  --selected-bg-color: var(--neutral-100);
  --selected-text-color: var(--neutral-700)
}

button.DateTimeSwitcherButton.selected.stone,
button.DateTimeSwitcherButton.selected.stone:hover {
  --selected-bg-color: var(--stone-100);
  --selected-text-color: var(--stone-700)
}

/* Dark mode from system */
@media (prefers-color-scheme: dark) {
  button.DateTimeSwitcherButton:not(.light *) {
    --unselected-bg-color: var(--text-dark);
    --unselected-text-color: var(--unselected-text-color-dark);
    --border-color: var(--border-color-dark);
    ----border-bottom-color: var(--border-bottom-color-dark);
    background: var(--unselected-bg-color);
    color: var(--unselected-text-color);
    border-bottom-color: var(--border-bottom-color);
  }

  button.DateTimeSwitcherButton:not(.light *):hover {
    --unselected-hover-bg-color: var(--gray-700);
    background: var(--unselected-hover-bg-color);
  }

  button.DateTimeSwitcherButton:not(.light *):focus-visible {
    --focus-outline: var(--focus-outline-dark)
  }

  button.DateTimeSwitcherButton.selected:not(.light *) {
    --selected-text-color: var(--selected-text-color-dark);
    --selected-bg-color: hsl(from var(--selected-bg-color-dark) h s l / 0.5);
    background: var(--selected-bg-color);
    color: var(--selected-text-color);
  }

  button.DateTimeSwitcherButton.selected:not(.light *):hover {
    --unselected-bg-color: hsl(from var(--selected-bg-color-dark) h s l / 0.5);
    --unselected-text-color: var(--selected-text-color-dark);
  }

  button.DateTimeSwitcherButton.selected.red {
    --selected-bg-color-dark: hsl(from var(--red-800) h s l / 0.75);
    --selected-bg-color: var(--selected-bg-color-dark);
  }

  button.DateTimeSwitcherButton.selected.red:hover {
    --unselected-hover-bg-color: var(--selected-bg-color-dark);
    --unselected-hover-text-color: var(--selected-text-color-dark);
  }

  button.DateTimeSwitcherButton.selected.orange {
    --selected-bg-color-dark: hsl(from var(--orange-800) h s l / 0.75);
    --selected-bg-color: var(--selected-bg-color-dark);
  }

  button.DateTimeSwitcherButton.selected.orange:hover {
    --unselected-hover-bg-color: var(--selected-bg-color-dark);
    --unselected-hover-text-color: var(--selected-text-color-dark);
  }

  button.DateTimeSwitcherButton.selected.amber {
    --selected-bg-color-dark: hsl(from var(--amber-800) h s l / 0.75);
    --selected-bg-color: var(--selected-bg-color-dark);
  }

  button.DateTimeSwitcherButton.selected.amber:hover {
    --unselected-hover-bg-color: var(--selected-bg-color-dark);
    --unselected-hover-text-color: var(--selected-text-color-dark);
  }

  button.DateTimeSwitcherButton.selected.yellow {
    --selected-bg-color-dark: hsl(from var(--yellow-800) h s l / 0.75);
    --selected-bg-color: var(--selected-bg-color-dark);
  }

  button.DateTimeSwitcherButton.selected.yellow:hover {
    --unselected-hover-bg-color: var(--selected-bg-color-dark);
    --unselected-hover-text-color: var(--selected-text-color-dark);
  }

  button.DateTimeSwitcherButton.selected.lime {
    --selected-bg-color-dark: hsl(from var(--lime-800) h s l / 0.75);
    --selected-bg-color: var(--selected-bg-color-dark);
  }

  button.DateTimeSwitcherButton.selected.lime:hover {
    --unselected-hover-bg-color: var(--selected-bg-color-dark);
    --unselected-hover-text-color: var(--selected-text-color-dark);
  }

  button.DateTimeSwitcherButton.selected.green {
    --selected-bg-color-dark: hsl(from var(--green-800) h s l / 0.75);
    --selected-bg-color: var(--selected-bg-color-dark);
  }

  button.DateTimeSwitcherButton.selected.green:hover {
    --unselected-hover-bg-color: var(--selected-bg-color-dark);
    --unselected-hover-text-color: var(--selected-text-color-dark);
  }

  button.DateTimeSwitcherButton.selected.emerald {
    --selected-bg-color-dark: hsl(from var(--emerald-800) h s l / 0.75);
    --selected-bg-color: var(--selected-bg-color-dark);
  }

  button.DateTimeSwitcherButton.selected.emerald:hover {
    --unselected-hover-bg-color: var(--selected-bg-color-dark);
    --unselected-hover-text-color: var(--selected-text-color-dark);
  }

  button.DateTimeSwitcherButton.selected.teal {
    --selected-bg-color-dark: hsl(from var(--teal-800) h s l / 0.75);
    --selected-bg-color: var(--selected-bg-color-dark);
  }

  button.DateTimeSwitcherButton.selected.teal:hover {
    --unselected-hover-bg-color: var(--selected-bg-color-dark);
    --unselected-hover-text-color: var(--selected-text-color-dark);
  }

  button.DateTimeSwitcherButton.selected.cyan {
    --selected-bg-color-dark: hsl(from var(--cyan-800) h s l / 0.75);
    --selected-bg-color: var(--selected-bg-color-dark);
  }

  button.DateTimeSwitcherButton.selected.cyan:hover {
    --unselected-hover-bg-color: var(--selected-bg-color-dark);
    --unselected-hover-text-color: var(--selected-text-color-dark);
  }

  button.DateTimeSwitcherButton.selected.sky {
    --selected-bg-color-dark: hsl(from var(--sky-800) h s l / 0.75);
    --selected-bg-color: var(--selected-bg-color-dark);
  }

  button.DateTimeSwitcherButton.selected.sky:hover {
    --unselected-hover-bg-color: var(--selected-bg-color-dark);
    --unselected-hover-text-color: var(--selected-text-color-dark);
  }

  button.DateTimeSwitcherButton.selected.blue {
    --selected-bg-color-dark: hsl(from var(--blue-800) h s l / 0.75);
    --selected-bg-color: var(--selected-bg-color-dark);
  }

  button.DateTimeSwitcherButton.selected.blue:hover {
    --unselected-hover-bg-color: var(--selected-bg-color-dark);
    --unselected-hover-text-color: var(--selected-text-color-dark);
  }

  button.DateTimeSwitcherButton.selected.indigo {
    --selected-bg-color-dark: hsl(from var(--indigo-800) h s l / 0.75);
    --selected-bg-color: var(--selected-bg-color-dark);
  }

  button.DateTimeSwitcherButton.selected.indigo:hover {
    --unselected-hover-bg-color: var(--selected-bg-color-dark);
    --unselected-hover-text-color: var(--selected-text-color-dark);
  }

  button.DateTimeSwitcherButton.selected.violet {
    --selected-bg-color-dark: hsl(from var(--violet-800) h s l / 0.75);
    --selected-bg-color: var(--selected-bg-color-dark);
  }

  button.DateTimeSwitcherButton.selected.violet:hover {
    --unselected-hover-bg-color: var(--selected-bg-color-dark);
    --unselected-hover-text-color: var(--selected-text-color-dark);
  }

  button.DateTimeSwitcherButton.selected.purple {
    --selected-bg-color-dark: hsl(from var(--purple-800) h s l / 0.75);
    --selected-bg-color: var(--selected-bg-color-dark);
  }

  button.DateTimeSwitcherButton.selected.purple:hover {
    --unselected-hover-bg-color: var(--selected-bg-color-dark);
    --unselected-hover-text-color: var(--selected-text-color-dark);
  }

  button.DateTimeSwitcherButton.selected.fuchsia {
    --selected-bg-color-dark: hsl(from var(--fuchsia-800) h s l / 0.75);
    --selected-bg-color: var(--selected-bg-color-dark);
  }

  button.DateTimeSwitcherButton.selected.fuchsia:hover {
    --unselected-hover-bg-color: var(--selected-bg-color-dark);
    --unselected-hover-text-color: var(--selected-text-color-dark);
  }

  button.DateTimeSwitcherButton.selected.pink {
    --selected-bg-color-dark: hsl(from var(--pink-800) h s l / 0.75);
    --selected-bg-color: var(--selected-bg-color-dark);
  }

  button.DateTimeSwitcherButton.selected.pink:hover {
    --unselected-hover-bg-color: var(--selected-bg-color-dark);
    --unselected-hover-text-color: var(--selected-text-color-dark);
  }

  button.DateTimeSwitcherButton.selected.rose {
    --selected-bg-color-dark: hsl(from var(--rose-800) h s l / 0.75);
    --selected-bg-color: var(--selected-bg-color-dark);
  }

  button.DateTimeSwitcherButton.selected.rose:hover {
    --unselected-hover-bg-color: var(--selected-bg-color-dark);
    --unselected-hover-text-color: var(--selected-text-color-dark);
  }

  button.DateTimeSwitcherButton.selected.slate {
    --selected-bg-color-dark: hsl(from var(--slate-800) h s l / 0.75);
    --selected-bg-color: var(--selected-bg-color-dark);
  }

  button.DateTimeSwitcherButton.selected.slate:hover {
    --unselected-hover-bg-color: var(--selected-bg-color-dark);
    --unselected-hover-text-color: var(--selected-text-color-dark);
  }

  button.DateTimeSwitcherButton.selected.gray {
    --selected-bg-color-dark: hsl(from var(--gray-800) h s l / 0.75);
    --selected-bg-color: var(--selected-bg-color-dark);
  }

  button.DateTimeSwitcherButton.selected.gray:hover {
    --unselected-hover-bg-color: var(--selected-bg-color-dark);
    --unselected-hover-text-color: var(--selected-text-color-dark);
  }

  button.DateTimeSwitcherButton.selected.zinc {
    --selected-bg-color-dark: hsl(from var(--zinc-800) h s l / 0.75);
    --selected-bg-color: var(--selected-bg-color-dark);
  }

  button.DateTimeSwitcherButton.selected.zinc:hover {
    --unselected-hover-bg-color: var(--selected-bg-color-dark);
    --unselected-hover-text-color: var(--selected-text-color-dark);
  }

  button.DateTimeSwitcherButton.selected.neutral {
    --selected-bg-color-dark: hsl(from var(--neutral-800) h s l / 0.75);
    --selected-bg-color: var(--selected-bg-color-dark);
  }

  button.DateTimeSwitcherButton.selected.neutral:hover {
    --unselected-hover-bg-color: var(--selected-bg-color-dark);
    --unselected-hover-text-color: var(--selected-text-color-dark);
  }

  button.DateTimeSwitcherButton.selected.stone {
    --selected-bg-color-dark: hsl(from var(--stone-800) h s l / 0.75);
    --selected-bg-color: var(--selected-bg-color-dark);
  }

  button.DateTimeSwitcherButton.selected.stone:hover {
    --unselected-hover-bg-color: var(--selected-bg-color-dark);
    --unselected-hover-text-color: var(--selected-text-color-dark);
  }
}

/* Forced dark mode */
.dark * button.DateTimeSwitcherButton {
  --unselected-bg-color: var(--gray-800);
  --unselected-text-color: var(--selected-text-color-dark);
  --border-color: var(--border-color-dark);
  --border-bottom-color: var(--border-bottom-color-dark);
  background: var(--unselected-bg-color);
  color: var(--unselected-text-color);
  border-bottom-color: var(--border-bottom-color);
}

.dark * button.DateTimeSwitcherButton:hover {
  --unselected-hover-bg-color: var(--gray-700);
  background: var(--unselected-hover-bg-color);
}

.dark * button.DateTimeSwitcherButton:focus-visible {
  --focus-outline: var(--focus-outline-dark)
}

.dark * button.DateTimeSwitcherButton.selected {
  --selected-bg-color: var(--selected-bg-color-dark);
  --selected-text-color: var(--selected-text-color-dark);
  background: var(--selected-bg-color);
  color: var(--selected-text-color);
}

.dark * button.DateTimeSwitcherButton.selected:hover {
  --unselected-bg-color: var(--selected-bg-color-dark);
  --unselected-text-color: var(--selected-text-color-dark);
}

/* Forced light mode */
.light * button.DateTimeSwitcherButton {
  --unselected-bg-color: var(--unselected-bg-color-light);
  --unselected-text-color: var(--unselected-text-color-light);
  --border-color: var(--border-color-dark);
  --border-bottom-color: var(--border-bottom-color-light);
}

.light * button.DateTimeSwitcherButton:hover {
  --unselected-hover-bg-color: var(--unselected-hover-bg-color-light);
  background: var(--unselected-hover-bg-color);
}

.light * button.DateTimeSwitcherButton:focus-visible {
  --focus-outline: var(--focus-outline-light)
}

.light * button.DateTimeSwitcherButton.selected {
  --selected-bg-color: var(--selected-bg-color-light);
  --selected-text-color: var(--selected-text-color-light);
  background: var(--selected-bg-color);
  color: var(--selected-text-color);
}

.light * button.DateTimeSwitcherButton.selected:hover {
  --unselected-bg-color: var(--selected-bg-color-light);
  --unselected-text-color: var(--selected-text-color-light);
}

/*.Sizes */
button.DateTimeSwitcherButton.sm {
  height: var(--date-time-browser-height-md);
}

button.DateTimeSwitcherButton.md,
button.DateTimeSwitcherButton.lg {
  height: var(--date-time-browser-height-lg);
}

button.DateTimeSwitcherButton.sm svg {
  width: var(--svg-sm);
  height: var(--svg-sm);
}

button.DateTimeSwitcherButton.md svg,
button.DateTimeSwitcherButton.lg svg {
  width: var(--svg-md);
  height: var(--svg-md);
}

/*.Colors theme */
.dark button.DateTimeSwitcherButton.selected.red {
  --selected-bg-color-dark: hsl(from var(--red-800) h s l / 0.75);
  --selected-bg-color: var(--selected-bg-color-dark);
  --selected-text-color: var(--selected-text-color-dark);
}

.dark button.DateTimeSwitcherButton.selected.red:hover {
  --unselected-hover-bg-color: var(--selected-bg-color-dark);
  --unselected-hover-text-color: var(--selected-text-color-dark);
}

.light button.DateTimeSwitcherButton.selected.red {
  --selected-bg-color: var(--red-100);
  --selected-text-color: var(--red-700);
}

.light button.DateTimeSwitcherButton.selected.red:hover {
  --unselected-bg-color: var(--red-100);
  --unselected-text-color: var(--red-700)
}

.dark button.DateTimeSwitcherButton.selected.orange {
  --selected-bg-color-dark: hsl(from var(--orange-800) h s l / 0.75);
  --selected-bg-color: var(--selected-bg-color-dark);
  --selected-text-color: var(--selected-text-color-dark);
}

.dark button.DateTimeSwitcherButton.selected.orange:hover {
  --unselected-hover-bg-color: var(--selected-bg-color-dark);
  --unselected-hover-text-color: var(--selected-text-color-dark);
}

.light button.DateTimeSwitcherButton.selected.orange {
  --selected-bg-color: var(--orange-100);
  --selected-text-color: var(--orange-700);
}

.light button.DateTimeSwitcherButton.selected.orange:hover {
  --unselected-bg-color: var(--orange-100);
  --unselected-text-color: var(--orange-700)
}

.dark button.DateTimeSwitcherButton.selected.amber {
  --selected-bg-color-dark: hsl(from var(--amber-800) h s l / 0.75);
  --selected-bg-color: var(--selected-bg-color-dark);
  --selected-text-color: var(--selected-text-color-dark);
}

.dark button.DateTimeSwitcherButton.selected.amber:hover {
  --unselected-hover-bg-color: var(--selected-bg-color-dark);
  --unselected-hover-text-color: var(--selected-text-color-dark);
}

.light button.DateTimeSwitcherButton.selected.amber {
  --selected-bg-color: var(--amber-100);
  --selected-text-color: var(--amber-700);
}

.light button.DateTimeSwitcherButton.selected.amber:hover {
  --unselected-bg-color: var(--amber-100);
  --unselected-text-color: var(--amber-700)
}

.dark button.DateTimeSwitcherButton.selected.yellow {
  --selected-bg-color-dark: hsl(from var(--yellow-800) h s l / 0.75);
  --selected-bg-color: var(--selected-bg-color-dark);
  --selected-text-color: var(--selected-text-color-dark);
}

.dark button.DateTimeSwitcherButton.selected.yellow:hover {
  --unselected-hover-bg-color: var(--selected-bg-color-dark);
  --unselected-hover-text-color: var(--selected-text-color-dark);
}

.light button.DateTimeSwitcherButton.selected.yellow {
  --selected-bg-color: var(--yellow-100);
  --selected-text-color: var(--yellow-700);
}

.light button.DateTimeSwitcherButton.selected.yellow:hover {
  --unselected-bg-color: var(--yellow-100);
  --unselected-text-color: var(--yellow-700)
}

.dark button.DateTimeSwitcherButton.selected.lime {
  --selected-bg-color-dark: hsl(from var(--lime-800) h s l / 0.75);
  --selected-bg-color: var(--selected-bg-color-dark);
  --selected-text-color: var(--selected-text-color-dark);
}

.dark button.DateTimeSwitcherButton.selected.lime:hover {
  --unselected-hover-bg-color: var(--selected-bg-color-dark);
  --unselected-hover-text-color: var(--selected-text-color-dark);
}

.light button.DateTimeSwitcherButton.selected.lime {
  --selected-bg-color: var(--lime-100);
  --selected-text-color: var(--lime-700);
}

.light button.DateTimeSwitcherButton.selected.lime:hover {
  --unselected-bg-color: var(--lime-100);
  --unselected-text-color: var(--lime-700)
}

.dark button.DateTimeSwitcherButton.selected.green {
  --selected-bg-color-dark: hsl(from var(--green-800) h s l / 0.75);
  --selected-bg-color: var(--selected-bg-color-dark);
  --selected-text-color: var(--selected-text-color-dark);
}

.dark button.DateTimeSwitcherButton.selected.green:hover {
  --unselected-hover-bg-color: var(--selected-bg-color-dark);
  --unselected-hover-text-color: var(--selected-text-color-dark);
}

.light button.DateTimeSwitcherButton.selected.green {
  --selected-bg-color: var(--green-100);
  --selected-text-color: var(--green-700);
}

.light button.DateTimeSwitcherButton.selected.green:hover {
  --unselected-bg-color: var(--green-100);
  --unselected-text-color: var(--green-700)
}

.dark button.DateTimeSwitcherButton.selected.emerald {
  --selected-bg-color-dark: hsl(from var(--emerald-800) h s l / 0.75);
  --selected-bg-color: var(--selected-bg-color-dark);
  --selected-text-color: var(--selected-text-color-dark);
}

.dark button.DateTimeSwitcherButton.selected.emerald:hover {
  --unselected-hover-bg-color: var(--selected-bg-color-dark);
  --unselected-hover-text-color: var(--selected-text-color-dark);
}

.light button.DateTimeSwitcherButton.selected.emerald {
  --selected-bg-color: var(--emerald-100);
  --selected-text-color: var(--emerald-700);
}

.light button.DateTimeSwitcherButton.selected.emerald:hover {
  --unselected-bg-color: var(--emerald-100);
  --unselected-text-color: var(--emerald-700)
}

.dark button.DateTimeSwitcherButton.selected.teal {
  --selected-bg-color-dark: hsl(from var(--teal-800) h s l / 0.75);
  --selected-bg-color: var(--selected-bg-color-dark);
  --selected-text-color: var(--selected-text-color-dark);
}

.dark button.DateTimeSwitcherButton.selected.teal:hover {
  --unselected-hover-bg-color: var(--selected-bg-color-dark);
  --unselected-hover-text-color: var(--selected-text-color-dark);
}

.light button.DateTimeSwitcherButton.selected.teal {
  --selected-bg-color: var(--teal-100);
  --selected-text-color: var(--teal-700);
}

.light button.DateTimeSwitcherButton.selected.teal:hover {
  --unselected-bg-color: var(--teal-100);
  --unselected-text-color: var(--teal-700)
}

.dark button.DateTimeSwitcherButton.selected.cyan {
  --selected-bg-color-dark: hsl(from var(--cyan-800) h s l / 0.75);
  --selected-bg-color: var(--selected-bg-color-dark);
  --selected-text-color: var(--selected-text-color-dark);
}

.dark button.DateTimeSwitcherButton.selected.cyan:hover {
  --unselected-hover-bg-color: var(--selected-bg-color-dark);
  --unselected-hover-text-color: var(--selected-text-color-dark);
}

.light button.DateTimeSwitcherButton.selected.cyan {
  --selected-bg-color: var(--cyan-100);
  --selected-text-color: var(--cyan-700);
}

.light button.DateTimeSwitcherButton.selected.cyan:hover {
  --unselected-bg-color: var(--cyan-100);
  --unselected-text-color: var(--cyan-700)
}

.dark button.DateTimeSwitcherButton.selected.sky {
  --selected-bg-color-dark: hsl(from var(--sky-800) h s l / 0.75);
  --selected-bg-color: var(--selected-bg-color-dark);
  --selected-text-color: var(--selected-text-color-dark);
}

.dark button.DateTimeSwitcherButton.selected.sky:hover {
  --unselected-hover-bg-color: var(--selected-bg-color-dark);
  --unselected-hover-text-color: var(--selected-text-color-dark);
}

.light button.DateTimeSwitcherButton.selected.sky {
  --selected-bg-color: var(--sky-100);
  --selected-text-color: var(--sky-700);
}

.light button.DateTimeSwitcherButton.selected.sky:hover {
  --unselected-bg-color: var(--sky-100);
  --unselected-text-color: var(--sky-700)
}

.dark button.DateTimeSwitcherButton.selected.blue {
  --selected-bg-color-dark: hsl(from var(--blue-800) h s l / 0.75);
  --selected-bg-color: var(--selected-bg-color-dark);
  --selected-text-color: var(--selected-text-color-dark);
}

.dark button.DateTimeSwitcherButton.selected.blue:hover {
  --unselected-hover-bg-color: var(--selected-bg-color-dark);
  --unselected-hover-text-color: var(--selected-text-color-dark);
}

.light button.DateTimeSwitcherButton.selected.blue {
  --selected-bg-color: var(--blue-100);
  --selected-text-color: var(--blue-700);
}

.light button.DateTimeSwitcherButton.selected.blue:hover {
  --unselected-bg-color: var(--blue-100);
  --unselected-text-color: var(--blue-700)
}

.dark button.DateTimeSwitcherButton.selected.indigo {
  --selected-bg-color-dark: hsl(from var(--indigo-800) h s l / 0.75);
  --selected-bg-color: var(--selected-bg-color-dark);
  --selected-text-color: var(--selected-text-color-dark);
}

.dark button.DateTimeSwitcherButton.selected.indigo:hover {
  --unselected-hover-bg-color: var(--selected-bg-color-dark);
  --unselected-hover-text-color: var(--selected-text-color-dark);
}

.light button.DateTimeSwitcherButton.selected.indigo {
  --selected-bg-color: var(--indigo-100);
  --selected-text-color: var(--indigo-700);
}

.light button.DateTimeSwitcherButton.selected.indigo:hover {
  --unselected-bg-color: var(--indigo-100);
  --unselected-text-color: var(--indigo-700)
}

.dark button.DateTimeSwitcherButton.selected.violet {
  --selected-bg-color-dark: hsl(from var(--violet-800) h s l / 0.75);
  --selected-bg-color: var(--selected-bg-color-dark);
  --selected-text-color: var(--selected-text-color-dark);
}

.dark button.DateTimeSwitcherButton.selected.violet:hover {
  --unselected-hover-bg-color: var(--selected-bg-color-dark);
  --unselected-hover-text-color: var(--selected-text-color-dark);
}

.light button.DateTimeSwitcherButton.selected.violet {
  --selected-bg-color: var(--violet-100);
  --selected-text-color: var(--violet-700);
}

.light button.DateTimeSwitcherButton.selected.violet:hover {
  --unselected-bg-color: var(--violet-100);
  --unselected-text-color: var(--violet-700)
}

.dark button.DateTimeSwitcherButton.selected.purple {
  --selected-bg-color-dark: hsl(from var(--purple-800) h s l / 0.75);
  --selected-bg-color: var(--selected-bg-color-dark);
  --selected-text-color: var(--selected-text-color-dark);
}

.dark button.DateTimeSwitcherButton.selected.purple:hover {
  --unselected-hover-bg-color: var(--selected-bg-color-dark);
  --unselected-hover-text-color: var(--selected-text-color-dark);
}

.light button.DateTimeSwitcherButton.selected.purple {
  --selected-bg-color: var(--purple-100);
  --selected-text-color: var(--purple-700);
}

.light button.DateTimeSwitcherButton.selected.purple:hover {
  --unselected-bg-color: var(--purple-100);
  --unselected-text-color: var(--purple-700)
}

.dark button.DateTimeSwitcherButton.selected.fuchsia {
  --selected-bg-color-dark: hsl(from var(--fuchsia-800) h s l / 0.75);
  --selected-bg-color: var(--selected-bg-color-dark);
  --selected-text-color: var(--selected-text-color-dark);
}

.dark button.DateTimeSwitcherButton.selected.fuchsia:hover {
  --unselected-hover-bg-color: var(--selected-bg-color-dark);
  --unselected-hover-text-color: var(--selected-text-color-dark);
}

.light button.DateTimeSwitcherButton.selected.fuchsia {
  --selected-bg-color: var(--fuchsia-100);
  --selected-text-color: var(--fuchsia-700);
}

.light button.DateTimeSwitcherButton.selected.fuchsia:hover {
  --unselected-bg-color: var(--fuchsia-100);
  --unselected-text-color: var(--fuchsia-700)
}

.dark button.DateTimeSwitcherButton.selected.pink {
  --selected-bg-color-dark: hsl(from var(--pink-800) h s l / 0.75);
  --selected-bg-color: var(--selected-bg-color-dark);
  --selected-text-color: var(--selected-text-color-dark);
}

.dark button.DateTimeSwitcherButton.selected.pink:hover {
  --unselected-hover-bg-color: var(--selected-bg-color-dark);
  --unselected-hover-text-color: var(--selected-text-color-dark);
}

.light button.DateTimeSwitcherButton.selected.pink {
  --selected-bg-color: var(--pink-100);
  --selected-text-color: var(--pink-700);
}

.light button.DateTimeSwitcherButton.selected.pink:hover {
  --unselected-bg-color: var(--pink-100);
  --unselected-text-color: var(--pink-700)
}

.dark button.DateTimeSwitcherButton.selected.rose {
  --selected-bg-color-dark: hsl(from var(--rose-800) h s l / 0.75);
  --selected-bg-color: var(--selected-bg-color-dark);
  --selected-text-color: var(--selected-text-color-dark);
}

.dark button.DateTimeSwitcherButton.selected.rose:hover {
  --unselected-hover-bg-color: var(--selected-bg-color-dark);
  --unselected-hover-text-color: var(--selected-text-color-dark);
}

.light button.DateTimeSwitcherButton.selected.rose {
  --selected-bg-color: var(--rose-100);
  --selected-text-color: var(--rose-700);
}

.light button.DateTimeSwitcherButton.selected.rose:hover {
  --unselected-bg-color: var(--rose-100);
  --unselected-text-color: var(--rose-700)
}

.dark button.DateTimeSwitcherButton.selected.slate {
  --selected-bg-color-dark: hsl(from var(--slate-800) h s l / 0.75);
  --selected-bg-color: var(--selected-bg-color-dark);
  --selected-text-color: var(--selected-text-color-dark);
}

.dark button.DateTimeSwitcherButton.selected.slate:hover {
  --unselected-hover-bg-color: var(--selected-bg-color-dark);
  --unselected-hover-text-color: var(--selected-text-color-dark);
}

.light button.DateTimeSwitcherButton.selected.slate {
  --selected-bg-color: var(--slate-100);
  --selected-text-color: var(--slate-700);
}

.light button.DateTimeSwitcherButton.selected.slate:hover {
  --unselected-bg-color: var(--slate-100);
  --unselected-text-color: var(--slate-700)
}

.dark button.DateTimeSwitcherButton.selected.gray {
  --selected-bg-color-dark: hsl(from var(--gray-800) h s l / 0.75);
  --selected-bg-color: var(--selected-bg-color-dark);
  --selected-text-color: var(--selected-text-color-dark);
}

.dark button.DateTimeSwitcherButton.selected.gray:hover {
  --unselected-hover-bg-color: var(--selected-bg-color-dark);
  --unselected-hover-text-color: var(--selected-text-color-dark);
}

.light button.DateTimeSwitcherButton.selected.gray {
  --selected-bg-color: var(--gray-100);
  --selected-text-color: var(--gray-700);
}

.light button.DateTimeSwitcherButton.selected.gray:hover {
  --unselected-bg-color: var(--gray-100);
  --unselected-text-color: var(--gray-700)
}

.dark button.DateTimeSwitcherButton.selected.zinc {
  --selected-bg-color-dark: hsl(from var(--zinc-800) h s l / 0.75);
  --selected-bg-color: var(--selected-bg-color-dark);
  --selected-text-color: var(--selected-text-color-dark);
}

.dark button.DateTimeSwitcherButton.selected.zinc:hover {
  --unselected-hover-bg-color: var(--selected-bg-color-dark);
  --unselected-hover-text-color: var(--selected-text-color-dark);
}

.light button.DateTimeSwitcherButton.selected.zinc {
  --selected-bg-color: var(--zinc-100);
  --selected-text-color: var(--zinc-700);
}

.light button.DateTimeSwitcherButton.selected.zinc:hover {
  --unselected-bg-color: var(--zinc-100);
  --unselected-text-color: var(--zinc-700)
}

.dark button.DateTimeSwitcherButton.selected.neutral {
  --selected-bg-color-dark: hsl(from var(--neutral-800) h s l / 0.75);
  --selected-bg-color: var(--selected-bg-color-dark);
  --selected-text-color: var(--selected-text-color-dark);
}

.dark button.DateTimeSwitcherButton.selected.neutral:hover {
  --unselected-hover-bg-color: var(--selected-bg-color-dark);
  --unselected-hover-text-color: var(--selected-text-color-dark);
}

.light button.DateTimeSwitcherButton.selected.neutral {
  --selected-bg-color: var(--neutral-100);
  --selected-text-color: var(--neutral-700);
}

.light button.DateTimeSwitcherButton.selected.neutral:hover {
  --unselected-bg-color: var(--neutral-100);
  --unselected-text-color: var(--neutral-700)
}

.dark button.DateTimeSwitcherButton.selected.stone {
  --selected-bg-color-dark: hsl(from var(--stone-800) h s l / 0.75);
  --selected-bg-color: var(--selected-bg-color-dark);
  --selected-text-color: var(--selected-text-color-dark);
}

.dark button.DateTimeSwitcherButton.selected.stone:hover {
  --unselected-hover-bg-color: var(--selected-bg-color-dark);
  --unselected-hover-text-color: var(--selected-text-color-dark);
}

.light button.DateTimeSwitcherButton.selected.stone {
  --selected-bg-color: var(--stone-100);
  --selected-text-color: var(--stone-700);
}

.light button.DateTimeSwitcherButton.selected.stone:hover {
  --unselected-bg-color: var(--stone-100);
  --unselected-text-color: var(--stone-700)
}
