@import url('common/colors.css');
@import url('common/spacing.css');
@import url('common/miscellaneous.css');
@import url('common/typography.css');

/* base as a monochrome theme */
button.PanelButton {
  /* Colors basic definition for each mode */
  --text-light: var(--neutral-900);
  --text-dark: var(--neutral-300);
  --hover-bg-light: var(--neutral-100);
  --hover-bg-dark: var(--neutral-700);
  --focus-outline-light: var(--neutral-700);
  --focus-outline-dark: var(--neutral-100);

  /* Default values (light mode) */
  --text: var(--text-light);
  --hover-bg: var(--hover-bg-light);
  --selected-text: var(--white);
  --selected-bg: var(--neutral-600);
  --focus-outline: var(--focus-outline-light);

  /* Basic styles (enabled) */
  padding: var(--spacing-2);
  border-radius: var(--br-lg);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition-property: var(--transition), outline;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
  flex: 1;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

/* States (light by default) */
button.PanelButton:not(.selected) {
  background: transparent;
  color: var(--text);
}

button.PanelButton:not(.selected):hover {
  --hover-bg-light: var(--gray-100);
  --hover-bg-dark: var(--gray-700);
  background: var(--hover-bg);
}

button.PanelButton.selected,
button.PanelButton.selected:hover {
  background: var(--selected-bg);
  color: var(--selected-text);
}

button.PanelButton:focus {
  outline: 2px solid transparent;
}

button.PanelButton:focus-visible {
  outline: 2px solid var(--focus-outline);
}


/* Sizes */
button.PanelButton.sm {
  font-size: var(--text-xs);
  line-height: var(--line-height-xs);
  height: var(--panel-button-height-sm);
}

button.PanelButton.md {
  font-size: var(--text-sm);
  line-height: var(--line-height-sm);
  height: var(--panel-button-height-md);
}

button.PanelButton.lg {
  font-size: var(--text-base);
  line-height: var(--line-height-base);
  height: var(--panel-button-height-lg);
}

/* Dark mode from system */
@media (prefers-color-scheme: dark) {
  /* Default values (light mode) */
  button.PanelButton:not(.light *):focus-visible {
    --focus-outline: var(--focus-outline-dark);
  }

  button.PanelButton:not(.selected, .light *) {
    --text: var(--text-dark);
  }

  button.PanelButton.selected.red:not(.light *),
  button.PanelButton.selected.red:not(.light *):hover {
    --selected-bg: var(--red-600);
  }

  button.PanelButton.selected.orange:not(.light *),
  button.PanelButton.selected.orange:not(.light *):hover {
    --selected-bg: var(--orange-600);
  }

  button.PanelButton.selected.amber:not(.light *),
  button.PanelButton.selected.amber:not(.light *):hover {
    --selected-bg: var(--amber-600);
  }

  button.PanelButton.selected.yellow:not(.light *),
  button.PanelButton.selected.yellow:not(.light *):hover {
    --selected-bg: var(--yellow-600);
  }

  button.PanelButton.selected.lime:not(.light *),
  button.PanelButton.selected.lime:not(.light *):hover {
    --selected-bg: var(--lime-600);
  }

  button.PanelButton.selected.green:not(.light *),
  button.PanelButton.selected.green:not(.light *):hover {
    --selected-bg: var(--green-600);
  }

  button.PanelButton.selected.emerald:not(.light *),
  button.PanelButton.selected.emerald:not(.light *):hover {
    --selected-bg: var(--emerald-600);
  }

  button.PanelButton.selected.teal:not(.light *),
  button.PanelButton.selected.teal:not(.light *):hover {
    --selected-bg: var(--teal-600);
  }

  button.PanelButton.selected.cyan:not(.light *),
  button.PanelButton.selected.cyan:not(.light *):hover {
    --selected-bg: var(--cyan-600);
  }

  button.PanelButton.selected.sky:not(.light *),
  button.PanelButton.selected.sky:not(.light *):hover {
    --selected-bg: var(--sky-600);
  }

  button.PanelButton.selected.blue:not(.light *),
  button.PanelButton.selected.blue:not(.light *):hover {
    --selected-bg: var(--blue-600);
  }

  button.PanelButton.selected.indigo:not(.light *),
  button.PanelButton.selected.indigo:not(.light *):hover {
    --selected-bg: var(--indigo-600);
  }

  button.PanelButton.selected.violet:not(.light *),
  button.PanelButton.selected.violet:not(.light *):hover {
    --selected-bg: var(--violet-600);
  }

  button.PanelButton.selected.purple:not(.light *),
  button.PanelButton.selected.purple:not(.light *):hover {
    --selected-bg: var(--purple-600);
  }

  button.PanelButton.selected.fuchsia:not(.light *),
  button.PanelButton.selected.fuchsia:not(.light *):hover {
    --selected-bg: var(--fuchsia-600);
  }

  button.PanelButton.selected.pink:not(.light *),
  button.PanelButton.selected.pink:not(.light *):hover {
    --selected-bg: var(--pink-600);
  }

  button.PanelButton.selected.rose:not(.light *),
  button.PanelButton.selected.rose:not(.light *):hover {
    --selected-bg: var(--rose-600);
  }

  button.PanelButton.selected.slate:not(.light *),
  button.PanelButton.selected.slate:not(.light *):hover {
    --selected-bg: var(--slate-600);
  }

  button.PanelButton.selected.gray:not(.light *),
  button.PanelButton.selected.gray:not(.light *):hover {
    --selected-bg: var(--gray-600);
  }

  button.PanelButton.selected.zinc:not(.light *),
  button.PanelButton.selected.zinc:not(.light *):hover {
    --selected-bg: var(--zinc-600);
  }

  button.PanelButton.selected.neutral:not(.light *),
  button.PanelButton.selected.neutral:not(.light *):hover {
    --selected-bg: var(--neutral-600);
  }

  button.PanelButton.selected.stone:not(.light *),
  button.PanelButton.selected.stone:not(.light *):hover {
    --selected-bg: var(--stone-600);
  }
}

/* Forced dark mode */
.dark * button.PanelButton:not(.selected) {
  --text: var(--text-dark);
  --hover-bg: var(--hover-bg-dark);
}

.dark * button.PanelButton:focus-visible {
  --focus-outline: var(--focus-outline-dark);
}

/* Forced light mode */
.light * button.PanelButton:not(.selected) {
  --text: var(--text-light);
  --hover-bg: var(--hover-bg-light);
}

.light * button.PanelButton:focus-visible {
  --focus-outline: var(--focus-outline-light);
}

/* Colors theme */
button.PanelButton.selected.red,
button.PanelButton.selected.red:hover {
  --selected-bg: var(--red-600);
}

button.PanelButton.selected.orange,
button.PanelButton.selected.orange:hover {
  --selected-bg: var(--orange-600);
}

button.PanelButton.selected.amber,
button.PanelButton.selected.amber:hover {
  --selected-bg: var(--amber-600);
}

button.PanelButton.selected.yellow,
button.PanelButton.selected.yellow:hover {
  --selected-bg: var(--yellow-600);
}

button.PanelButton.selected.lime,
button.PanelButton.selected.lime:hover {
  --selected-bg: var(--lime-600);
}

button.PanelButton.selected.green,
button.PanelButton.selected.green:hover {
  --selected-bg: var(--green-600);
}

button.PanelButton.selected.emerald,
button.PanelButton.selected.emerald:hover {
  --selected-bg: var(--emerald-600);
}

button.PanelButton.selected.teal,
button.PanelButton.selected.teal:hover {
  --selected-bg: var(--teal-600);
}

button.PanelButton.selected.cyan,
button.PanelButton.selected.cyan:hover {
  --selected-bg: var(--cyan-600);
}

button.PanelButton.selected.sky,
button.PanelButton.selected.sky:hover {
  --selected-bg: var(--sky-600);
}

button.PanelButton.selected.blue,
button.PanelButton.selected.blue:hover {
  --selected-bg: var(--blue-600);
}

button.PanelButton.selected.indigo,
button.PanelButton.selected.indigo:hover {
  --selected-bg: var(--indigo-600);
}

button.PanelButton.selected.violet,
button.PanelButton.selected.violet:hover {
  --selected-bg: var(--violet-600);
}

button.PanelButton.selected.purple,
button.PanelButton.selected.purple:hover {
  --selected-bg: var(--purple-600);
}

button.PanelButton.selected.fuchsia,
button.PanelButton.selected.fuchsia:hover {
  --selected-bg: var(--fuchsia-600);
}

button.PanelButton.selected.pink,
button.PanelButton.selected.pink:hover {
  --selected-bg: var(--pink-600);
}

button.PanelButton.selected.rose,
button.PanelButton.selected.rose:hover {
  --selected-bg: var(--rose-600);
}

button.PanelButton.selected.slate,
button.PanelButton.selected.slate:hover {
  --selected-bg: var(--slate-600);
}

button.PanelButton.selected.gray,
button.PanelButton.selected.gray:hover {
  --selected-bg: var(--gray-600);
}

button.PanelButton.selected.zinc,
button.PanelButton.selected.zinc:hover {
  --selected-bg: var(--zinc-600);
}

button.PanelButton.selected.neutral,
button.PanelButton.selected.neutral:hover {
  --selected-bg: var(--neutral-600);
}

button.PanelButton.selected.stone,
button.PanelButton.selected.stone:hover {
  --selected-bg: var(--stone-600);
}
