@import url('common/colors.css');
@import url('common/spacing.css');
@import url('common/miscellaneous.css');

.PanelHeader {
  /* Colors basic definition for each mode */
  --text-light: var(--gray-600);
  --text-dark: var(--gray-300);
  --arrow-light: var(--gray-900);
  --arrow-dark: var(--gray-100);
  --focus-outline-light: var(--neutral-700);
  --focus-outline-dark: var(--neutral-100);

  /* Default values (light mode) */
  --text: var(--text-light);
  --arrow: var(--arrow-light);
  --focus-outline: var(--focus-outline-light);

  /* Basic styles */
  display: flex;
  gap: var(--spacing-4);
  justify-content: space-between;
  color: var(--text);
}

.PanelHeader > button,
.PanelHeader > button:focus {
  border-radius: var(--br-sm);
  outline-offset: 2px;
  outline: 2px solid transparent;
}

.PanelHeader > button:focus-visible {
  border-radius: var(--br-sm);
  outline-offset: 2px;
  outline: 2px solid var(--focus-outline);
}

/* Sizes */
.PanelHeader.sm .PanelHeader-content {
  font-size: var(--text-xs);
}

.PanelHeader.md .PanelHeader-content,
.PanelHeader.lg .PanelHeader-content {
  font-size: var(--text-sm);
}

/* Dark mode from system */
@media (prefers-color-scheme: dark) {
  .PanelHeader:not(.light *) {
    --text: var(--text-dark);
    --arrow: var(--arrow-dark);
  }

  .PanelHeader:not(.light *) > button:focus-visible {
    --focus-outline: var(--focus-outline-dark);
  }
}

/* Force dark mode */
.dark * .PanelHeader {
  --text: var(--text-dark);
  --arrow: var(--arrow-dark);
}

.dark * .PanelHeader > button:focus-visible {
  --focus-outline: var(--focus-outline-dark);
}

/* Force light mode */
.light * .PanelHeader {
  --text: var(--text-light);
  --arrow: var(--arrow-light);
}

.light * .PanelHeader > button:focus-visible {
  --focus-outline: var(--focus-outline-light);
}


/* Sizes */
.PanelHeader.sm, .PanelHeader.md {
  padding: var(--spacing-4) var(--spacing-4) var(--spacing-2) var(--spacing-4);
}

.PanelHeader.lg {
  padding: var(--spacing-6) var(--spacing-6) var(--spacing-3) var(--spacing-6);
}

.PanelHeader > button {
  appearance: none;
  border: none;
  background: transparent;
  cursor: pointer;
  width: var(--svg-md);
  outline: 0;
}

.PanelHeader > button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.PanelHeader > button > svg {
  width: var(--svg-sm);
  height: var(--svg-sm);
  color: var(--arrow);
}

.PanelHeader > div {
  display: flex;
  font-weight: bold;
  gap: var(--spacing-1);
}
