@import url('common/colors.css');
@import url('common/spacing.css');
@import url('common/miscellaneous.css');
@import url('common/typography.css');

/* Base as a monochrome theme */
input.TextField {
  /* Colors basic definition for each mode */
  --text-light: var(--neutral-500);
  --text-dark: var(--neutral-300);
  --border-light: var(--neutral-300);
  --border-dark: var(--neutral-600);
  --bg-light: hsl(from var(--white) h s l / 0.5);
  --bg-dark: hsl(from var(--black) h s l / 0.25);
  --clear-icon-light: var(--neutral-500);
  --clear-icon-dark: var(--neutral-400);
  --placeholder-light: var(--neutral-400);
  --placeholder-dark: var(--neutral-500);
  --focus-text-light: var(--neutral-800);
  --focus-text-dark: var(--white);
  --focus-outline-light: var(--neutral-500);
  --focus-outline-dark: var(--neutral-500);
  --disabled-border-light: var(--neutral-200);
  --disabled-border-dark: var(--neutral-700);
  --disabled-text-light: var(--neutral-200);
  --disabled-text-dark: var(--neutral-400);
  --disabled-placeholder-light: var(--neutral-100);
  --disabled-placeholder-dark: var(--neutral-500);
  --icon-button-focus-outline-light: var(--neutral-700);
  --icon-button-focus-outline-dark: var(--neutral-100);

  /* Default values (light mode) */
  --text: var(--text-light);
  --border: var(--border-light);
  --bg: var(--bg-light);
  --placeholder: var(--placeholder-light);
  --focus-text: var(--focus-text-light);
  --focus-outline: var(--focus-outline-light);
  --focus-outline-width: 2px;
  --focus-outline-offset: 2px;
  --disabled-text: var(--disabled-text-light);
  --disabled-placeholder: var(--disabled-placeholder-light);
  --disabled-border: var(--disabled-border-light);
  --success-color: var(--green-500);
  --warning-color: var(--yellow-500);
  --error-color: var(--red-500);
  --clear-icon: var(--clear-icon-light);
  --icon-button-focus-outline: var(--icon-button-focus-outline-light);

  /* Basic styles (enabled) */
  appearance: none;
  border: 1px solid;
  padding: 0 var(--spacing-2);
  border-radius: var(--br-lg);
  box-shadow: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition-property: var(--transition);
  transition-timing-function: linear;
  transition-duration: 300ms;
  width: 100%;
  color: var(--focus-text);
  outline-offset: var(--focus-outline-offset);
  outline: var(--focus-outline-width) solid transparent;
  font-family: var(--font-family-robotoMono), serif;
}

/* States (light by default) */
input.TextField:not(.disabled) {
  background: var(--bg);
  border-color: var(--border);
  color: var(--text);
}

input.TextField.disabled {
  background: var(--bg);
  border-color: var(--disabled-border);
  color: var(--disabled-text);
}

input.TextField:not(.disabled)::placeholder {
  color: var(--placeholder);
}

input.TextField.disabled::placeholder {
  color: var(--disabled-placeholder);
}

input.TextField:not(.disabled, .hide-focus):focus,
input.TextField:not(.disabled, .hide-focus):focus-visible {
  outline-color: var(--focus-outline);
}

input.TextField:not(.disabled):focus,
input.TextField:not(.disabled):focus-visible {
  color: var(--focus-text);
}

input.TextField.success {
  border-color: var(--success-color);
}

input.TextField.warning {
  border-color: var(--warning-color);
}

input.TextField.error {
  border-color: var(--error-color);
}

input.TextField.success {
  border-color: var(--success-color);
}

input.TextField.warning {
  border-color: var(--warning-color);
}

input.TextField.error {
  border-color: var(--error-color);
}

input.TextField.show-cross.icon-left + .clear-icon-button {
  appearance: none;
  border: 0 none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  outline: 2px solid transparent;
}

input.TextField.show-cross.icon-left + .clear-icon-button .icon {
  color: var(--neutral-600);
}

input.TextField.success.show-cross.icon-left + .clear-icon-button .icon {
  color: var(--green-500);
}

input.TextField.warning.show-cross.icon-left + .clear-icon-button .icon {
  color: var(--yellow-500);
}

input.TextField.error.show-cross.icon-left + .clear-icon-button .icon {
  color: var(--red-500);
}

input.TextField.show-cross.show-icon.icon-left + .clear-icon-button + .icon-button,
input.TextField.show-icon.icon-left + .icon-button,
input.TextField.show-icon.icon-right + .icon-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  outline: 2px solid transparent;
  border-radius: var(--br-sm);
}

input.TextField.show-cross.show-icon.icon-left + .clear-icon-button + .icon-button:focus,
input.TextField.show-icon.icon-left + .icon-button:focus,
input.TextField.show-icon.icon-right + .icon-button:focus {

}

input.TextField.show-cross.show-icon.icon-left + .clear-icon-button + .icon-button:focus-visible,
input.TextField.show-icon.icon-left + .icon-button:focus-visible,
input.TextField.show-icon.icon-right + .icon-button:focus-visible {
  outline-offset: 4px;
  outline: 2px solid var(--gray-700);
}

input.TextField.disabled.show-cross.show-icon.icon-left + .clear-icon-button + .icon-button,
input.TextField.disabled.show-icon.icon-left + .icon-button,
input.TextField.disabled.show-icon.icon-right + .icon-button {
  outline: 2px solid transparent;
  opacity: 0.5;
  cursor: default;
}

input.TextField.show-cross.show-icon.icon-left + .clear-icon-button + .icon-button .icon,
input.TextField.show-icon.icon-left + .icon-button .icon,
input.TextField.show-icon.icon-right + .icon-button .icon {
  color: var(--neutral-500)
}

input.TextField.success.show-cross.show-icon.icon-left + .clear-icon-button + .icon-button .icon,
input.TextField.success.show-icon.icon-left + .icon-button .icon,
input.TextField.success.show-icon.icon-right + .icon-button .icon {
  color: var(--green-600);
}

input.TextField.warning.show-cross.show-icon.icon-left + .clear-icon-button + .icon-button .icon,
input.TextField.warning.show-icon.icon-left + .icon-button .icon,
input.TextField.warning.show-icon.icon-right + .icon-button .icon {
  color: var(--yellow-600);
}

input.TextField.error.show-cross.show-icon.icon-left + .clear-icon-button + .icon-button .icon,
input.TextField.error.show-icon.icon-left + .icon-button .icon,
input.TextField.error.show-icon.icon-right + .icon-button .icon {
  color: var(--red-600);
}

/* Sizes */
input.TextField.sm.show-icon.icon-left {
  padding-left: var(--size-sm);
}

input.TextField.md.show-icon.icon-left {
  padding-left: var(--size-md);
}

input.TextField.lg.show-icon.icon-left {
  padding-left: var(--size-lg);
}

input.TextField.sm.show-icon.icon-right {
  padding-right: var(--size-sm);
}

input.TextField.md.show-icon.icon-right {
  padding-right: var(--size-md);
}

input.TextField.lg.show-icon.icon-right {
  padding-right: var(--size-lg);
}

input.TextField.sm.show-cross.icon-left {
  padding-right: var(--size-sm);
}

input.TextField.md.show-cross.icon-left {
  padding-right: var(--size-md);
}

input.TextField.lg.show-cross.icon-left {
  padding-right: var(--size-lg);
}

input.TextField.sm.show-cross.icon-left + .clear-icon-button {
  height: var(--svg-sm);
  width: var(--svg-sm);
  right: var(--spacing-2-5);
}

input.TextField.md.show-cross.icon-left + .clear-icon-button {
  height: var(--svg-sm);
  width: var(--svg-sm);
  right: var(--spacing-3);
}

input.TextField.lg.show-cross.icon-left + .clear-icon-button {
  height: var(--svg-md);
  width: var(--svg-md);
  right: var(--spacing-3-5);
}

input.TextField.sm.show-cross.icon-left + .clear-icon-button .icon {
  height: var(--svg-sm);
  width: var(--svg-sm);
}

input.TextField.md.show-cross.icon-left + .clear-icon-button .icon {
  height: var(--svg-sm);
  width: var(--svg-sm);
}

input.TextField.lg.show-cross.icon-left + .clear-icon-button .icon {
  height: var(--svg-md);
  width: var(--svg-md);
}

input.TextField.sm.show-cross.show-icon.icon-left + .clear-icon-button + .icon-button,
input.TextField.sm.show-icon.icon-left + .icon-button,
input.TextField.sm.show-icon.icon-right + .icon-button,
input.TextField.sm.show-cross.show-icon.icon-left + .clear-icon-button + .icon-button .icon,
input.TextField.sm.show-icon.icon-left + .icon-button .icon,
input.TextField.sm.show-icon.icon-right + .icon-button .icon {
  height: var(--svg-xs);
  width: var(--svg-xs);
}

input.TextField.sm.show-cross.show-icon.icon-left + .clear-icon-button + .icon-button,
input.TextField.sm.show-icon.icon-left + .icon-button {
  left: var(--spacing-3);
}

input.TextField.sm.show-icon.icon-right + .icon-button .icon {
  right: var(--spacing-3);
}

input.TextField.md.show-cross.show-icon.icon-left + .clear-icon-button + .icon-button,
input.TextField.md.show-icon.icon-left + .icon-button,
input.TextField.md.show-icon.icon-right + .icon-button,
input.TextField.md.show-cross.show-icon.icon-left + .clear-icon-button + .icon-button .icon,
input.TextField.md.show-icon.icon-left + .icon-button .icon,
input.TextField.md.show-icon.icon-right + .icon-button .icon {
  height: var(--svg-sm);
  width: var(--svg-sm);
}

input.TextField.md.show-cross.show-icon.icon-left + .clear-icon-button + .icon-button,
input.TextField.md.show-icon.icon-left + .icon-button {
  left: var(--spacing-3-5);
}

input.TextField.md.show-icon.icon-right + .icon-button .icon {
  right: var(--spacing-3-5);
}

input.TextField.lg.show-cross.show-icon.icon-left + .clear-icon-button + .icon-button,
input.TextField.lg.show-icon.icon-left + .icon-button,
input.TextField.lg.show-icon.icon-right + .icon-button,
input.TextField.lg.show-cross.show-icon.icon-left + .clear-icon-button + .icon-button .icon,
input.TextField.lg.show-icon.icon-left + .icon-button .icon,
input.TextField.lg.show-icon.icon-right + .icon-button .icon {
  height: var(--svg-md);
  width: var(--svg-md);
}

input.TextField.lg.show-cross.show-icon.icon-left + .clear-icon-button + .icon-button,
input.TextField.lg.show-icon.icon-left + .icon-button {
  left: var(--spacing-4);
}

input.TextField.lg.show-icon.icon-right + .icon-button .icon {
  right: var(--spacing-4);
}

/* Sizes */
input.TextField.sm {
  font-size: var(--text-xs);
  line-height: var(--line-height-xs);
  height: var(--size-sm);
  padding: 0 var(--spacing-2);
}

input.TextField.md {
  font-size: var(--text-sm);
  line-height: var(--line-height-sm);
  height: var(--size-md);
  padding: 0 var(--spacing-3);
}

input.TextField.lg {
  font-size: var(--text-base);
  line-height: var(--line-height-base);
  height: var(--size-lg);
  padding: 0 var(--spacing-4);
}

/* Dark mode from system */
@media (prefers-color-scheme: dark) {
  /* Default values (light mode) */
  input.TextField:not(.disabled, .light *) {
    --bg: var(--bg-dark);
    --text: var(--text-dark);
    --border: var(--border-dark);
  }

  input.TextField.disabled:not(.light *) {
    --bg: var(--bg-dark);
    --disabled-border: var(--disabled-border-dark);
    --disabled-text: var(--disabled-text-dark);
  }

  input.TextField:not(.disabled, .light *)::placeholder {
    --placeholder: var(--placeholder-dark);
  }

  input.TextField.disabled:not(.light *)::placeholder {
    --disabled-placeholder: var(--disabled-placeholder-dark);
  }

  input.TextField:not(.disabled, .light *):focus,
  input.TextField:not(.disabled, .light *):focus-visible {
    --focus-text: var(--focus-text-dark);
  }

  input.TextField.show-cross.icon-left:not(.light *) + .clear-icon-button .icon {
    color: var(--neutral-400);
  }

  input.TextField.show-cross.show-icon.icon-left:not(.light *) + .clear-icon-button + .icon-button .icon,
  input.TextField.show-icon.icon-left:not(.light *) + .icon-button .icon,
  input.TextField.show-icon.icon-right:not(.light *) + .icon-button .icon {
    color: var(--neutral-400)
  }

  input.TextField.show-cross.show-icon.icon-left:not(.light *) + .clear-icon-button + .icon-button:focus-visible,
  input.TextField.show-icon.icon-left:not(.light *) + .icon-button:focus-visible,
  input.TextField.show-icon.icon-right:not(.light *) + .icon-button:focus-visible {
    outline-offset: 4px;
    outline: 2px solid var(--gray-100);
  }

  input.TextField.red:not(.disabled, .hide-focus, .light *):focus,
  input.TextField.red:not(.disabled, .hide-focus, .light *):focus-visible {
    --focus-outline-dark: var(--red-500);
    --focus-outline: var(--focus-outline-dark);
  }

  input.TextField.red:not(.disabled, .hide-focus, .light *):focus,
  input.TextField.red:not(.disabled, .hide-focus, .light *):focus-visible {
    --focus-outline-dark: var(--orange-500);
    --focus-outline: var(--focus-outline-dark);
  }

  input.TextField.red:not(.disabled, .hide-focus, .light *):focus,
  input.TextField.red:not(.disabled, .hide-focus, .light *):focus-visible {
    --focus-outline-dark: var(--amber-500);
    --focus-outline: var(--focus-outline-dark);
  }

  input.TextField.red:not(.disabled, .hide-focus, .light *):focus,
  input.TextField.red:not(.disabled, .hide-focus, .light *):focus-visible {
    --focus-outline-dark: var(--yellow-500);
    --focus-outline: var(--focus-outline-dark);
  }

  input.TextField.red:not(.disabled, .hide-focus, .light *):focus,
  input.TextField.red:not(.disabled, .hide-focus, .light *):focus-visible {
    --focus-outline-dark: var(--lime-500);
    --focus-outline: var(--focus-outline-dark);
  }

  input.TextField.red:not(.disabled, .hide-focus, .light *):focus,
  input.TextField.red:not(.disabled, .hide-focus, .light *):focus-visible {
    --focus-outline-dark: var(--green-500);
    --focus-outline: var(--focus-outline-dark);
  }

  input.TextField.red:not(.disabled, .hide-focus, .light *):focus,
  input.TextField.red:not(.disabled, .hide-focus, .light *):focus-visible {
    --focus-outline-dark: var(--emerald-500);
    --focus-outline: var(--focus-outline-dark);
  }

  input.TextField.red:not(.disabled, .hide-focus, .light *):focus,
  input.TextField.red:not(.disabled, .hide-focus, .light *):focus-visible {
    --focus-outline-dark: var(--teal-500);
    --focus-outline: var(--focus-outline-dark);
  }

  input.TextField.red:not(.disabled, .hide-focus, .light *):focus,
  input.TextField.red:not(.disabled, .hide-focus, .light *):focus-visible {
    --focus-outline-dark: var(--cyan-500);
    --focus-outline: var(--focus-outline-dark);
  }

  input.TextField.red:not(.disabled, .hide-focus, .light *):focus,
  input.TextField.red:not(.disabled, .hide-focus, .light *):focus-visible {
    --focus-outline-dark: var(--sky-500);
    --focus-outline: var(--focus-outline-dark);
  }

  input.TextField.red:not(.disabled, .hide-focus, .light *):focus,
  input.TextField.red:not(.disabled, .hide-focus, .light *):focus-visible {
    --focus-outline-dark: var(--blue-500);
    --focus-outline: var(--focus-outline-dark);
  }

  input.TextField.red:not(.disabled, .hide-focus, .light *):focus,
  input.TextField.red:not(.disabled, .hide-focus, .light *):focus-visible {
    --focus-outline-dark: var(--indigo-500);
    --focus-outline: var(--focus-outline-dark);
  }

  input.TextField.red:not(.disabled, .hide-focus, .light *):focus,
  input.TextField.red:not(.disabled, .hide-focus, .light *):focus-visible {
    --focus-outline-dark: var(--violet-500);
    --focus-outline: var(--focus-outline-dark);
  }

  input.TextField.red:not(.disabled, .hide-focus, .light *):focus,
  input.TextField.red:not(.disabled, .hide-focus, .light *):focus-visible {
    --focus-outline-dark: var(--purple-500);
    --focus-outline: var(--focus-outline-dark);
  }

  input.TextField.red:not(.disabled, .hide-focus, .light *):focus,
  input.TextField.red:not(.disabled, .hide-focus, .light *):focus-visible {
    --focus-outline-dark: var(--fuchsia-500);
    --focus-outline: var(--focus-outline-dark);
  }

  input.TextField.red:not(.disabled, .hide-focus, .light *):focus,
  input.TextField.red:not(.disabled, .hide-focus, .light *):focus-visible {
    --focus-outline-dark: var(--pink-500);
    --focus-outline: var(--focus-outline-dark);
  }

  input.TextField.red:not(.disabled, .hide-focus, .light *):focus,
  input.TextField.red:not(.disabled, .hide-focus, .light *):focus-visible {
    --focus-outline-dark: var(--rose-500);
    --focus-outline: var(--focus-outline-dark);
  }

  input.TextField.red:not(.disabled, .hide-focus, .light *):focus,
  input.TextField.red:not(.disabled, .hide-focus, .light *):focus-visible {
    --focus-outline-dark: var(--slate-500);
    --focus-outline: var(--focus-outline-dark);
  }

  input.TextField.red:not(.disabled, .hide-focus, .light *):focus,
  input.TextField.red:not(.disabled, .hide-focus, .light *):focus-visible {
    --focus-outline-dark: var(--gray-500);
    --focus-outline: var(--focus-outline-dark);
  }

  input.TextField.red:not(.disabled, .hide-focus, .light *):focus,
  input.TextField.red:not(.disabled, .hide-focus, .light *):focus-visible {
    --focus-outline-dark: var(--zinc-500);
    --focus-outline: var(--focus-outline-dark);
  }

  input.TextField.red:not(.disabled, .hide-focus, .light *):focus,
  input.TextField.red:not(.disabled, .hide-focus, .light *):focus-visible {
    --focus-outline-dark: var(--neutral-500);
    --focus-outline: var(--focus-outline-dark);
  }

  input.TextField.red:not(.disabled, .hide-focus, .light *):focus,
  input.TextField.red:not(.disabled, .hide-focus, .light *):focus-visible {
    --focus-outline-dark: var(--stone-500);
    --focus-outline: var(--focus-outline-dark);
  }
}

/* Forced dark mode */
.dark * input.TextField:not(.disabled) {
  --bg: var(--bg-dark);
  --text: var(--text-dark);
  --border: var(--border-dark);
}

.dark * input.TextField.disabled {
  --bg: var(--bg-dark);
  --disabled-border: var(--disabled-border-dark);
  --disabled-text: var(--disabled-text-dark);
}

.dark * input.TextField:not(.disabled)::placeholder {
  --placeholder: var(--placeholder-dark);
}

.dark * input.TextField.disabled::placeholder {
  --disabled-placeholder: var(--disabled-placeholder-dark);
}

.dark * input.TextField:not(.disabled):focus,
.dark * input.TextField:not(.disabled):focus-visible {
  --focus-text: var(--focus-text-dark);
}

.dark * input.TextField.show-cross.show-icon.icon-left + .clear-icon-button + .icon-button:focus-visible,
.dark * input.TextField.show-icon.icon-left + .icon-button:focus-visible,
.dark * input.TextField.show-icon.icon-right + .icon-button:focus-visible {
  outline-offset: 4px;
  outline: 2px solid var(--gray-100);
}

.dark * input.TextField.show-cross.icon-left + .clear-icon-button .icon {
  color: var(--neutral-400);
}

.dark * input.TextField.show-cross.show-icon.icon-left + .clear-icon-button + .icon-button .icon,
.dark * input.TextField.show-icon.icon-left + .icon-button .icon,
.dark * input.TextField.show-icon.icon-right + .icon-button .icon {
  color: var(--neutral-400)
}

/* Forced light mode */
.light * input.TextField:not(.disabled) {
  --bg: var(--bg-light);
  --text: var(--text-light);
  --border: var(--border-light);
}

.light * input.TextField.disabled {
  --bg: var(--bg-light);
  --disabled-border: var(--disabled-border-light);
  --disabled-text: var(--disabled-text-light);
}

.light * input.TextField:not(.disabled)::placeholder {
  --placeholder: var(--placeholder-light);
}

.light * input.TextField.disabled::placeholder {
  --disabled-placeholder: var(--disabled-placeholder-light);
}

.light * input.TextField:not(.disabled):focus,
.light * input.TextField:not(.disabled):focus-visible {
  --focus-text: var(--focus-text-light);
}

.light * input.TextField.show-cross.show-icon.icon-left + .clear-icon-button + .icon-button:focus-visible,
.light * input.TextField.show-icon.icon-left + .icon-button:focus-visible,
.light * input.TextField.show-icon.icon-right + .icon-button:focus-visible {
  outline-offset: 4px;
  outline: 2px solid var(--gray-700);
}

.light * input.TextField.show-cross.icon-left + .clear-icon-button .icon {
  color: var(--neutral-600);
}

.light * input.TextField.show-cross.show-icon.icon-left + .clear-icon-button + .icon-button .icon,
.light * input.TextField.show-icon.icon-left + .icon-button .icon,
.light * input.TextField.show-icon.icon-right + .icon-button .icon {
  color: var(--neutral-500)
}

/* Colors theme */
input.TextField.red:not(.disabled, .hide-focus):focus,
input.TextField.red:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-light: var(--red-500);
  --focus-outline: var(--focus-outline-light);
}

input.TextField.orange:not(.disabled, .hide-focus):focus,
input.TextField.orange:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-light: var(--orange-500);
  --focus-outline: var(--focus-outline-light);
}

input.TextField.amber:not(.disabled, .hide-focus):focus,
input.TextField.amber:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-light: var(--amber-500);
  --focus-outline: var(--focus-outline-light);
}

input.TextField.yellow:not(.disabled, .hide-focus):focus,
input.TextField.yellow:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-light: var(--yellow-500);
  --focus-outline: var(--focus-outline-light);
}

input.TextField.lime:not(.disabled, .hide-focus):focus,
input.TextField.lime:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-light: var(--lime-500);
  --focus-outline: var(--focus-outline-light);
}

input.TextField.green:not(.disabled, .hide-focus):focus,
input.TextField.green:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-light: var(--green-500);
  --focus-outline: var(--focus-outline-light);
}

input.TextField.emerald:not(.disabled, .hide-focus):focus,
input.TextField.emerald:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-light: var(--emerald-500);
  --focus-outline: var(--focus-outline-light);
}

input.TextField.teal:not(.disabled, .hide-focus):focus,
input.TextField.teal:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-light: var(--teal-500);
  --focus-outline: var(--focus-outline-light);
}

input.TextField.cyan:not(.disabled, .hide-focus):focus,
input.TextField.cyan:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-light: var(--cyan-500);
  --focus-outline: var(--focus-outline-light);
}

input.TextField.sky:not(.disabled, .hide-focus):focus,
input.TextField.sky:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-light: var(--sky-500);
  --focus-outline: var(--focus-outline-light);
}

input.TextField.blue:not(.disabled, .hide-focus):focus,
input.TextField.blue:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-light: var(--blue-500);
  --focus-outline: var(--focus-outline-light);
}

input.TextField.indigo:not(.disabled, .hide-focus):focus,
input.TextField.indigo:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-light: var(--indigo-500);
  --focus-outline: var(--focus-outline-light);
}

input.TextField.violet:not(.disabled, .hide-focus):focus,
input.TextField.violet:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-light: var(--violet-500);
  --focus-outline: var(--focus-outline-light);
}

input.TextField.purple:not(.disabled, .hide-focus):focus,
input.TextField.purple:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-light: var(--purple-500);
  --focus-outline: var(--focus-outline-light);
}

input.TextField.fuchsia:not(.disabled, .hide-focus):focus,
input.TextField.fuchsia:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-light: var(--fuchsia-500);
  --focus-outline: var(--focus-outline-light);
}

input.TextField.pink:not(.disabled, .hide-focus):focus,
input.TextField.pink:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-light: var(--pink-500);
  --focus-outline: var(--focus-outline-light);
}

input.TextField.rose:not(.disabled, .hide-focus):focus,
input.TextField.rose:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-light: var(--rose-500);
  --focus-outline: var(--focus-outline-light);
}

input.TextField.slate:not(.disabled, .hide-focus):focus,
input.TextField.slate:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-light: var(--slate-500);
  --focus-outline: var(--focus-outline-light);
}

input.TextField.gray:not(.disabled, .hide-focus):focus,
input.TextField.gray:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-light: var(--gray-500);
  --focus-outline: var(--focus-outline-light);
}

input.TextField.zinc:not(.disabled, .hide-focus):focus,
input.TextField.zinc:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-light: var(--zinc-500);
  --focus-outline: var(--focus-outline-light);
}

input.TextField.neutral:not(.disabled, .hide-focus):focus,
input.TextField.neutral:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-light: var(--neutral-500);
  --focus-outline: var(--focus-outline-light);
}

input.TextField.stone:not(.disabled, .hide-focus):focus,
input.TextField.stone:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-light: var(--stone-500);
  --focus-outline: var(--focus-outline-light);
}



.dark * input.TextField.red:not(.disabled, .hide-focus):focus,
.dark * input.TextField.red:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-dark: var(--red-500);
  --focus-outline: var(--focus-outline-dark);
}

.dark * input.TextField.orange:not(.disabled, .hide-focus):focus,
.dark * input.TextField.orange:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-dark: var(--orange-500);
  --focus-outline: var(--focus-outline-dark);
}

.dark * input.TextField.amber:not(.disabled, .hide-focus):focus,
.dark * input.TextField.amber:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-dark: var(--amber-500);
  --focus-outline: var(--focus-outline-dark);
}

.dark * input.TextField.yellow:not(.disabled, .hide-focus):focus,
.dark * input.TextField.yellow:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-dark: var(--yellow-500);
  --focus-outline: var(--focus-outline-dark);
}

.dark * input.TextField.lime:not(.disabled, .hide-focus):focus,
.dark * input.TextField.lime:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-dark: var(--lime-500);
  --focus-outline: var(--focus-outline-dark);
}

.dark * input.TextField.green:not(.disabled, .hide-focus):focus,
.dark * input.TextField.green:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-dark: var(--green-500);
  --focus-outline: var(--focus-outline-dark);
}

.dark * input.TextField.emerald:not(.disabled, .hide-focus):focus,
.dark * input.TextField.emerald:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-dark: var(--emerald-500);
  --focus-outline: var(--focus-outline-dark);
}

.dark * input.TextField.teal:not(.disabled, .hide-focus):focus,
.dark * input.TextField.teal:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-dark: var(--teal-500);
  --focus-outline: var(--focus-outline-dark);
}

.dark * input.TextField.cyan:not(.disabled, .hide-focus):focus,
.dark * input.TextField.cyan:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-dark: var(--cyan-500);
  --focus-outline: var(--focus-outline-dark);
}

.dark * input.TextField.sky:not(.disabled, .hide-focus):focus,
.dark * input.TextField.sky:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-dark: var(--sky-500);
  --focus-outline: var(--focus-outline-dark);
}

.dark * input.TextField.blue:not(.disabled, .hide-focus):focus,
.dark * input.TextField.blue:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-dark: var(--blue-500);
  --focus-outline: var(--focus-outline-dark);
}

.dark * input.TextField.indigo:not(.disabled, .hide-focus):focus,
.dark * input.TextField.indigo:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-dark: var(--indigo-500);
  --focus-outline: var(--focus-outline-dark);
}

.dark * input.TextField.violet:not(.disabled, .hide-focus):focus,
.dark * input.TextField.violet:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-dark: var(--violet-500);
  --focus-outline: var(--focus-outline-dark);
}

.dark * input.TextField.purple:not(.disabled, .hide-focus):focus,
.dark * input.TextField.purple:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-dark: var(--purple-500);
  --focus-outline: var(--focus-outline-dark);
}

.dark * input.TextField.fuchsia:not(.disabled, .hide-focus):focus,
.dark * input.TextField.fuchsia:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-dark: var(--fuchsia-500);
  --focus-outline: var(--focus-outline-dark);
}

.dark * input.TextField.pink:not(.disabled, .hide-focus):focus,
.dark * input.TextField.pink:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-dark: var(--pink-500);
  --focus-outline: var(--focus-outline-dark);
}

.dark * input.TextField.rose:not(.disabled, .hide-focus):focus,
.dark * input.TextField.rose:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-dark: var(--rose-500);
  --focus-outline: var(--focus-outline-dark);
}

.dark * input.TextField.slate:not(.disabled, .hide-focus):focus,
.dark * input.TextField.slate:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-dark: var(--slate-500);
  --focus-outline: var(--focus-outline-dark);
}

.dark * input.TextField.gray:not(.disabled, .hide-focus):focus,
.dark * input.TextField.gray:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-dark: var(--gray-500);
  --focus-outline: var(--focus-outline-dark);
}

.dark * input.TextField.zinc:not(.disabled, .hide-focus):focus,
.dark * input.TextField.zinc:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-dark: var(--zinc-500);
  --focus-outline: var(--focus-outline-dark);
}

.dark * input.TextField.neutral:not(.disabled, .hide-focus):focus,
.dark * input.TextField.neutral:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-dark: var(--neutral-500);
  --focus-outline: var(--focus-outline-dark);
}

.dark * input.TextField.stone:not(.disabled, .hide-focus):focus,
.dark * input.TextField.stone:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-dark: var(--stone-500);
  --focus-outline: var(--focus-outline-dark);
}

.light * input.TextField.red:not(.disabled, .hide-focus):focus,
.light * input.TextField.red:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-light: var(--red-500);
  --focus-outline: var(--focus-outline-light);
}

.light * input.TextField.orange:not(.disabled, .hide-focus):focus,
.light * input.TextField.orange:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-light: var(--orange-500);
  --focus-outline: var(--focus-outline-light);
}

.light * input.TextField.amber:not(.disabled, .hide-focus):focus,
.light * input.TextField.amber:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-light: var(--amber-500);
  --focus-outline: var(--focus-outline-light);
}

.light * input.TextField.yellow:not(.disabled, .hide-focus):focus,
.light * input.TextField.yellow:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-light: var(--yellow-500);
  --focus-outline: var(--focus-outline-light);
}

.light * input.TextField.lime:not(.disabled, .hide-focus):focus,
.light * input.TextField.lime:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-light: var(--lime-500);
  --focus-outline: var(--focus-outline-light);
}

.light * input.TextField.green:not(.disabled, .hide-focus):focus,
.light * input.TextField.green:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-light: var(--green-500);
  --focus-outline: var(--focus-outline-light);
}

.light * input.TextField.emerald:not(.disabled, .hide-focus):focus,
.light * input.TextField.emerald:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-light: var(--emerald-500);
  --focus-outline: var(--focus-outline-light);
}

.light * input.TextField.teal:not(.disabled, .hide-focus):focus,
.light * input.TextField.teal:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-light: var(--teal-500);
  --focus-outline: var(--focus-outline-light);
}

.light * input.TextField.cyan:not(.disabled, .hide-focus):focus,
.light * input.TextField.cyan:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-light: var(--cyan-500);
  --focus-outline: var(--focus-outline-light);
}

.light * input.TextField.sky:not(.disabled, .hide-focus):focus,
.light * input.TextField.sky:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-light: var(--sky-500);
  --focus-outline: var(--focus-outline-light);
}

.light * input.TextField.blue:not(.disabled, .hide-focus):focus,
.light * input.TextField.blue:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-light: var(--blue-500);
  --focus-outline: var(--focus-outline-light);
}

.light * input.TextField.indigo:not(.disabled, .hide-focus):focus,
.light * input.TextField.indigo:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-light: var(--indigo-500);
  --focus-outline: var(--focus-outline-light);
}

.light * input.TextField.violet:not(.disabled, .hide-focus):focus,
.light * input.TextField.violet:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-light: var(--violet-500);
  --focus-outline: var(--focus-outline-light);
}

.light * input.TextField.purple:not(.disabled, .hide-focus):focus,
.light * input.TextField.purple:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-light: var(--purple-500);
  --focus-outline: var(--focus-outline-light);
}

.light * input.TextField.fuchsia:not(.disabled, .hide-focus):focus,
.light * input.TextField.fuchsia:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-light: var(--fuchsia-500);
  --focus-outline: var(--focus-outline-light);
}

.light * input.TextField.pink:not(.disabled, .hide-focus):focus,
.light * input.TextField.pink:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-light: var(--pink-500);
  --focus-outline: var(--focus-outline-light);
}

.light * input.TextField.rose:not(.disabled, .hide-focus):focus,
.light * input.TextField.rose:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-light: var(--rose-500);
  --focus-outline: var(--focus-outline-light);
}

.light * input.TextField.slate:not(.disabled, .hide-focus):focus,
.light * input.TextField.slate:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-light: var(--slate-500);
  --focus-outline: var(--focus-outline-light);
}

.light * input.TextField.gray:not(.disabled, .hide-focus):focus,
.light * input.TextField.gray:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-light: var(--gray-500);
  --focus-outline: var(--focus-outline-light);
}

.light * input.TextField.zinc:not(.disabled, .hide-focus):focus,
.light * input.TextField.zinc:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-light: var(--zinc-500);
  --focus-outline: var(--focus-outline-light);
}

.light * input.TextField.neutral:not(.disabled, .hide-focus):focus,
.light * input.TextField.neutral:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-light: var(--neutral-500);
  --focus-outline: var(--focus-outline-light);
}

.light * input.TextField.stone:not(.disabled, .hide-focus):focus,
.light * input.TextField.stone:not(.disabled, .hide-focus):focus-visible {
  --focus-outline-light: var(--stone-500);
  --focus-outline: var(--focus-outline-light);
}
