@tailwind base;
@tailwind components;
@tailwind utilities;

/* Roboto mono (same kerning letters) used for TimePanel component */
@font-face {
    font-family: 'RobotoMono';
    src: url('fonts/RobotoMono/RobotoMono-SemiBold.woff2') format('woff2'),
    url('fonts/RobotoMono/RobotoMono-SemiBold.woff') format('woff'),
    url('fonts/RobotoMono/RobotoMono-SemiBold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoMono';
    src: url('fonts/RobotoMono/RobotoMono-SemiBold.woff2') format('woff2'),
    url('fonts/RobotoMono/RobotoMono-SemiBold.woff') format('woff'),
    url('fonts/RobotoMono/RobotoMono-SemiBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoMono';
    src: url('fonts/RobotoMono/RobotoMono-SemiBold.woff2') format('woff2'),
    url('fonts/RobotoMono/RobotoMono-SemiBold.woff') format('woff'),
    url('fonts/RobotoMono/RobotoMono-SemiBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


@layer components {
    .dp-button-loader {
        border: 4px solid;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        animation: spin 1s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}

/* Extra CSS variables for global styling to make things, well, prettier. */
:root {
    /* Basic theme external to tailwind */

    /* Storybook background */
    --tw-background-color: light-dark(#d6d6d6ff, #1a1a1a);
    --tw-background-gradient-circle-1: light-dark(#8b0c9f33, #4d9f0c33);
    --tw-background-gradient-ellipse-1: light-dark(#64d3e621, #e6646522);
    --tw-background-gradient-ellipse-2: light-dark(#64e6e633, #e6646533);
    --tw-background-gradient-ellipse-3: light-dark(#64e6c822, #e6646522);
}
